@charset "UTF-8";

.page_wrapper {
  width: 820px;
  margin: 0 auto;
  padding: 0 10px;
}

input,
select,
textarea {
  outline: none;
  font: 14px 'Helvetica Neue', Helvetica, Arial, sans-serif;
}

select {
  padding: 3px 0 3px 4px;
  -moz-appearance: none;
  -webkit-appearance: none;
}

.filter select {
  color: gray;
}

.form_select {
  display: inline-block;
  vertical-align: middle;
  *vertical-align: auto;
  *zoom: 1;
  *display: inline;
  position: relative;
}

.cssreflections .filter .form_select:after {
  background: url(../images/arrow_select.png) 0 0 no-repeat #fff;
  content: '';
  display: inline-block;
  vertical-align: middle;
  *vertical-align: auto;
  *zoom: 1;
  *display: inline;
  height: 6px;
  margin-top: -6px;
  pointer-events: none;
  position: absolute;
  right: 8px;
  top: 50%;
  width: 12px;
}

.cssreflections .form_select:after {
  background: url(../images/arrow_select.png) 0 0 no-repeat #fff;
  content: '';
  display: inline-block;
  vertical-align: middle;
  *vertical-align: auto;
  *zoom: 1;
  *display: inline;
  height: 6px;
  margin-top: -3px;
  pointer-events: none;
  position: absolute;
  right: 8px;
  top: 50%;
  width: 12px;
}

input[type=text],
input[type=password] {
  height: 24px;
  padding: 0 8px;
  line-height: 24px;
}

input[type=text],
input[type=password],
select,
textarea {
  border: 1px solid #898989;
  -webkit-border-radius: 3px;
  border-radius: 3px;
  font-size: 14px;
}

input[type=text]:focus,
input[type=password]:focus,
select:focus,
textarea:focus {
  border-color: #00746b;
}

input[type=checkbox] {
  vertical-align: middle;
}

.borderradius input[type=checkbox] {
  display: none;
}

input[type=checkbox] + label {
  cursor: pointer;
}

input[type=checkbox] + label::before {
  content: "";
  display: inline-block;
  vertical-align: middle;
  *vertical-align: auto;
  *zoom: 1;
  *display: inline;
  height: 14px;
  width: 14px;
  margin: 0 5px -2px 0;
  background-image: url(../images/checkbox_unchecked.png);
  background-repeat: no-repeat;
}

input[type=checkbox]:checked + label::before {
  background-image: url(../images/checkbox_checked.png);
}

.button {
  background-color: #7accc8;
  border: 1px solid #7accc8;
  border-radius: 5px;
  color: #fff;
  cursor: pointer;
  font-size: 14px;
  font-weight: bold;
  height: 40px;
  text-shadow: 1px 1px #7accc8;
  text-transform: uppercase;
  width: 250px;
  -webkit-border-radius: 5px;
  border-radius: 5px;
}

.login_btn {
  /* АВТОРИЗОВАТЬСЯ */
  margin-top: 45px;
  margin-left: 90px;
  width: 210px;
}

.find_btn {
  /* НАЙТИ */
  float: right;
  width: 150px;
}

.filter_footer .find_btn {
  bottom: 20px;
  position: absolute;
  right: 20px;
}

.new_ad_btn {
  /* ДОБАВИТЬ ОБЪЯВЛЕНИЕ */
  float: right;
}

.save_btn {
  /* СОХРАНИТЬ */
  margin-top: 20px;
  width: 150px;
  margin-left: 345px;
}

.save_profile_btn {
  margin: 30px 0;
  margin-left: 345px;
}

.save_pass_btn {
  margin-top: 20px;
  margin-left: 345px;
}

.download_btn {
  /* ЗАГРУЗИТЬ */
  display: inline-block;
  width: 150px;
}

.add_object_btn {
  /* ДОБАВИТЬ ОБЪЕКТ */
  width: 230px;
  margin-left: 345px;
}

.add_client_btn {
  /* ДОБАВИТЬ КЛИЕНТА*/
  margin-top: 30px;
  margin-left: 345px;
}

.filter .toggle_btn {
  /* СВЕРНУТЬ/РАЗВЕРНУТЬ */
  bottom: 5px;
  color: #707070;
  cursor: pointer;
  left: 50%;
  margin-left: -45px;
  padding-left: 15px;
  position: absolute;
}

.toggle_up {
  background: url(../images/toggle_btn_up.png) left no-repeat;
}

.toggle_down {
  background: url(../images/toggle_btn_down.png) left no-repeat;
}

.etc_btn {
  /* ... */
  background: url(../images/etc_btn.png) 0 0 no-repeat;
  border: none;
  display: inline-block;
  height: 28px;
  vertical-align: middle;
  width: 36px;
  font-size: 0px;
}

.calendar_btn {
  /* кнопка с иконкой календаря */
  background: url(../images/calendar_btn.png) 0 0 no-repeat;
  border: none;
  display: inline-block;
  vertical-align: middle;
  *vertical-align: auto;
  *zoom: 1;
  *display: inline;
  height: 28px;
  vertical-align: middle;
  width: 36px;
  font-size: 0px;
}

.btn_edit {
  /* кнопка с иконкой карандаша */
  background: url(../images/entry_btn_edit.png) 0 0 no-repeat;
  border: none;
  display: inline-block;
  vertical-align: middle;
  *vertical-align: auto;
  *zoom: 1;
  *display: inline;
  height: 28px;
  vertical-align: middle;
  width: 36px;
  font-size: 0px;
}

.btn_connections {
  /* кнопка с иконкой связей */
  background: url(../images/entry_btn_similar.png) 0 0 no-repeat;
  border: none;
  display: inline-block;
  vertical-align: middle;
  *vertical-align: auto;
  *zoom: 1;
  *display: inline;
  height: 28px;
  vertical-align: middle;
  width: 36px;
  font-size: 0px;
}

.breadcrumb {
  font-size: 0px;
  line-height: 60px;
  list-style: none;
  margin-left: -20px;
}

.breadcrumb_item {
  color: #b8b8b8;
  display: inline;
  font-style: italic;
  font-size: 12px;
}

.breadcrumb_item a {
  color: #b8b8b8;
}

.breadcrumb_item:after {
  content: '/';
  margin: 0 2px;
}

.breadcrumb_item:last-child:after {
  content: '';
}

.calendar_ico {
  background: url(../images/agent_calendar_img.png) 0 0 no-repeat;
  border: none;
  display: inline-block;
  vertical-align: middle;
  *vertical-align: auto;
  *zoom: 1;
  *display: inline;
  height: 24px;
  vertical-align: middle;
  width: 20px;
}

.clients_ico {
  background: url(../images/agent_clients_img.png) 0 0 no-repeat;
  border: none;
  display: inline-block;
  vertical-align: middle;
  *vertical-align: auto;
  *zoom: 1;
  *display: inline;
  height: 31px;
  vertical-align: middle;
  width: 32px;
}

.ads_ico {
  background: url(../images/agent_ads_img.png) 0 0 no-repeat;
  border: none;
  display: inline-block;
  vertical-align: middle;
  *vertical-align: auto;
  *zoom: 1;
  *display: inline;
  height: 31px;
  vertical-align: middle;
  width: 32px;
}

.objects_ico {
  background: url(../images/agent_objects_img.png) 0 0 no-repeat;
  border: none;
  display: inline-block;
  vertical-align: middle;
  *vertical-align: auto;
  *zoom: 1;
  *display: inline;
  height: 31px;
  vertical-align: middle;
  width: 32px;
}

.avito_ico {
  background: url(../images/avito_logo.png) 0 0 no-repeat;
  border: none;
  display: inline-block;
  vertical-align: middle;
  *vertical-align: auto;
  *zoom: 1;
  *display: inline;
  height: 28px;
  vertical-align: middle;
  width: 28px;
}

.active_filters {
  margin-left: 20px;
  margin-bottom: 20px;
}

.active_filters_header {
  font-weight: bold;
}

.active_filters_row {
  line-height: 26px;
}

.filter_wrapper {
  background: #cdcdcd;
  -webkit-border-radius: 4px;
  border-radius: 4px 4px 0 0;
}

.filter {
  height: 220px;
  padding: 20px;
  position: relative;
}

.filter_menu {
  margin: 0;
  padding: 0;
  *zoom: 1;
}

.filter_menu:after {
  content: "";
  display: table;
  clear: both;
}

.filter_menu_item {
  display: block;
  float: left;
  font-weight: bold;
  text-align: center;
  text-transform: uppercase;
  width: 33.3333333%;
}

.filter_menu_item:first-child a {
  -webkit-border-radius: 4px;
  border-radius: 4px 0 0 4px;
}

.filter_menu_item:last-child a {
  -webkit-border-radius: 0;
  border-radius: 0 4px 4px 0;
}

.filter_menu_item a {
  background: #7accc8;
  border: 1px solid;
  border-top-color: #8fd4d1;
  border-bottom-color: #72bfbc;
  border-left-color: #1ebcb5;
  border-right-color: #8fd4d1;
  color: #00746b;
  display: block;
  height: 38px;
  line-height: 38px;
  text-decoration: none;
}

.filter_menu_item--active a {
  background: #00746b;
  border: 1px solid #006d64;
  border-top-color: #288a82;
  color: #fff;
}

.filter_left_block {
  display: inline-block;
  vertical-align: middle;
  *vertical-align: auto;
  *zoom: 1;
  *display: inline;
  float: left;
  width: 350px;
}

.filter_right_block {
  display: inline-block;
  vertical-align: middle;
  *vertical-align: auto;
  *zoom: 1;
  *display: inline;
  float: right;
  width: 430px;
}

.filter_row {
  display: inline-block;
  vertical-align: middle;
  *vertical-align: auto;
  *zoom: 1;
  *display: inline;
  line-height: 26px;
  margin-bottom: 10px;
  width: 100%;
}

.filter_row span {
  display: inline-block;
  vertical-align: middle;
  *vertical-align: auto;
  *zoom: 1;
  *display: inline;
  font-size: 14px;
}

.filter_row .keywords {
  width: 319px;
}

.filter_row .with_photo + label {
  margin-left: 60px;
}

.filter_row .price_dragger {
  background-color: #fff;
  display: inline-block;
  vertical-align: middle;
  *vertical-align: auto;
  *zoom: 1;
  *display: inline;
  height: 10px;
  width: 270px;
}

.filter_row .price {
  width: 94px;
}

.filter_row .price_text {
  width: 46px;
}

.filter_row .price_separator {
  padding: 0 12px;
}

.filter_row .min_price {
  margin-left: 50px;
}

.filter_row .date_text {
  display: block;
}

.filter_row .date {
  width: 105px;
}

.filter_row select {
  display: inline-block;
  vertical-align: middle;
  *vertical-align: auto;
  *zoom: 1;
  *display: inline;
  margin-bottom: 5px;
}

.filter_row .subject {
  float: left;
  width: 164px;
}

.filter_row .district,
.filter_row .city {
  float: right;
  width: 236px;
}

.filter_row .rooms_num,
.filter_row .obj_type,
.filter_row .floor,
.filter_row .building_type {
  float: left;
  margin-right: 6px;
  width: 100px;
}

.filter_row .space_from,
.filter_row .space_to {
  float: right;
  width: 182px;
}

.ui-widget-header {
  background: #00746b !important;
}

.ui-state-default {
  border: 1px solid #00746b !important;
  background: #fff !important;
}

.header {
  padding: 12px 0 10px;
  white-space: nowrap;
  width: 100%;
  *zoom: 1;
}

.header:after {
  content: "";
  display: table;
  clear: both;
}

.realtor_card--header {
  float: left;
  margin-left: 80px;
}

.realtor_photo--header {
  float: left;
  height: 60px;
  margin-left: -80px;
  overflow: hidden;
  width: 60px;
}

.realtor_photo--header img {
  display: block;
  border: none;
}

.realtor_name--header {
  font-size: 20px;
  margin-top: 4px;
}

.logout_link {
  float: right;
  margin-top: 10px;
}

.logout_icon {
  background: url("../images/logout.png") 0 0 no-repeat;
  display: inline-block;
  vertical-align: middle;
  *vertical-align: auto;
  *zoom: 1;
  *display: inline;
  height: 24px;
  margin-left: 5px;
  vertical-align: middle;
  width: 28px;
}

.entries_found {
  font-size: 20px;
  font-weight: bold;
  margin-left: 20px;
}

.search_results {
  margin-bottom: 50px;
}

.search_results_menu {
  line-height: 60px;
}

.search_results_menu .sorting {
  display: inline-block;
  vertical-align: middle;
  *vertical-align: auto;
  *zoom: 1;
  *display: inline;
  margin-left: 20px;
}

.search_results_menu .sorting select {
  padding: 4px;
}

.entry {
  border-bottom: 1px dotted #000;
  height: 150px;
  padding: 10px 0;
  position: relative;
  width: 820px;
}

.entry .avito_ico {
  position: absolute;
  right: 20px;
  top: 20px;
}

.recent_entry {
  background-color: #cafffc;
}

.old_entry .entry_date {
  color: #c2c2c2;
}

.entry_date {
  float: left;
  width: 80px;
}

.entry_day,
.entry_time {
  text-align: right;
}

.entry_thumb {
  float: left;
  margin-left: 30px;
  width: 125px;
}

.entry_img {
  width: 100%;
  height: 100px;
}

.entry_agent {
  font-weight: bold;
  font-size: 16px;
  margin: 5px 0;
}

.entry_description {
  float: left;
  margin-left: 30px;
  padding-top: 10px;
  width: 540px;
}

.entry_header {
  font-size: 16px;
  font-weight: bold;
}

.entry_text {
  height: 48px;
  overflow: hidden;
  width: 460px;
}

.entry_price {
  bottom: 20px;
  color: #000;
  font-weight: bold;
  font-size: 18px;
  position: absolute;
}

.entry_buttons {
  bottom: 20px;
  position: absolute;
  right: 20px;
}

.fadeout_recent {
  background: -webkit-linear-gradient(rgba(202, 255, 252, 0) 0%, #cafffc 100%);
  bottom: 0;
  height: 18px;
  margin-top: -30px;
  position: relative;
}

.fadeout_white {
  background: -webkit-linear-gradient(rgba(255, 255, 255, 0) 0%, white 100%);
  bottom: 0;
  height: 18px;
  margin-top: -30px;
  position: relative;
}

.add_to_fav {
  position: relative;
  top: 70px;
}

.company_logo {
  display: block;
  margin: 0 auto;
}

.main {
  position: relative;
  height: 80%;
}

.login_form {
  margin: 0 auto;
  position: relative;
  top: 35%;
  width: 350px;
}

.login_form_header {
  display: block;
  font-weight: bold;
  font-size: 20px;
  margin-left: 90px;
  margin-bottom: 30px;
}

.login_form_row {
  font-size: 0px;
  height: 35px;
  position: relative;
  text-align: center;
}

.login_form_text {
  display: inline-block;
  vertical-align: middle;
  *vertical-align: auto;
  *zoom: 1;
  *display: inline;
  font-size: 14px;
  font-weight: bold;
  margin-right: 20px;
  text-align: right;
  width: 60px;
}

.login_form_input {
  width: 250px;
}

.login_form_link {
  border-bottom: 1px dotted;
  float: right;
  font-size: 12px;
  font-style: italic;
  margin-top: 2px;
  margin-right: 10px;
  text-decoration: none;
}

.input_with_error {
  display: inline-block;
  vertical-align: middle;
  *vertical-align: auto;
  *zoom: 1;
  *display: inline;
  position: relative;
}

.input_error {
  background-color: #fff;
  color: red;
  font-size: 10px;
  font-style: italic;
  left: 8px;
  line-height: 14px !important;
  padding: 0 3px;
  position: absolute;
  top: -5px;
}

.agent_contacts {
  float: left;
  font-weight: bold;
  margin-left: 20px;
  max-width: 170px;
  width: 170px;
  overflow: hidden;
}

.agent_contacts .agent_name,
.agent_contacts .agent_phone,
.agent_contacts .agent_email {
  width: 170px;
}

.agent_contacts .agent_name,
.agent_contacts .agent_phone {
  margin-bottom: 15px;
}

.agent_description {
  float: left;
  margin-left: 5px;
  width: 240px;
}

.agent_description p {
  margin: 0;
}

.agent_header_name {
  font-size: 20px;
  margin-bottom: 20px;
  margin-left: 20px;
}

.agent_img {
  float: left;
  margin-left: 20px;
  width: 60px;
}

.agent_join_date {
  float: right;
  margin-left: 30px;
  width: 100px;
}

.agent_links {
  float: left;
  margin-left: 5px;
  margin-top: -10px;
  width: 170px;
  font-weight: bold;
}

.agent_links a {
  line-height: 40px;
  margin-left: 5px;
}

.agent_links span {
  line-height: 40px;
  margin-left: 5px;
}

.agent_search_card {
  border-top: 1px dotted #000;
  height: 170px;
  padding-top: 20px;
}

.client_search {
  line-height: 40px;
  padding: 20px;
  margin-bottom: 30px;
}

.client_search input[type=text] {
  width: 610px;
}

.client_card,
.client_search_card {
  border-top: 1px dotted #000;
  height: 130px;
  padding: 20px;
  position: relative;
}

.client_card .btn_edit {
  position: absolute;
  right: 24px;
  top: 100px;
}

.client_contacts {
  display: inline-block;
  vertical-align: middle;
  *vertical-align: auto;
  *zoom: 1;
  *display: inline;
  font-weight: bold;
  line-height: 26px;
  vertical-align: top;
  width: 140px;
}

.client_contacts .client_name {
  display: inline-block;
  vertical-align: middle;
  *vertical-align: auto;
  *zoom: 1;
  *display: inline;
  line-height: 1.2em;
}

.client_links {
  display: inline-block;
  vertical-align: middle;
  *vertical-align: auto;
  *zoom: 1;
  *display: inline;
  margin-left: 20px;
  margin-top: 20px;
  vertical-align: top;
  width: 535px;
}

.client_links .client_ads {
  margin-bottom: 10px;
}

.client_links .client_ads .client_ads_link {
  display: inline-block;
  vertical-align: middle;
  *vertical-align: auto;
  *zoom: 1;
  *display: inline;
  font-weight: bold;
  width: 130px;
}

.client_links .client_objects_link {
  display: inline-block;
  vertical-align: middle;
  *vertical-align: auto;
  *zoom: 1;
  *display: inline;
  font-weight: bold;
  width: 130px;
}

.client_join_date {
  display: inline-block;
  vertical-align: middle;
  *vertical-align: auto;
  *zoom: 1;
  *display: inline;
  margin-right: -30px;
  vertical-align: top;
  width: 100px;
}

.client_description {
  margin-top: 10px;
  margin-left: 160px;
  width: 460px;
}

.client_search_card .client_links {
  width: 170px;
}

.client_search_card .client_description {
  display: inline-block;
  vertical-align: middle;
  *vertical-align: auto;
  *zoom: 1;
  *display: inline;
  margin-left: 0px;
  width: 360px;
}

.input_client {
  margin-right: 10px;
  width: 320px;
}

.main_photo_span,
.extra_photo_span {
  line-height: 40px !important;
}

.extra_photo {
  margin-left: 305px;
  list-style: none;
  font-size: 0;
  letter-spacing: 0;
}

.extra_photo .extra_photo_thumb {
  display: inline-block;
  vertical-align: top;
  *vertical-align: auto;
  *zoom: 1;
  *display: inline;
  margin-right: 10px;
  position: relative;
  width: 100px;
  margin-bottom: 10px;
}

.main_photo {
  margin-left: 345px;
}

.main_photo_thumb {
  position: relative;
  width: 150px;
}

.main_photo_name {
  font-size: 10px;
}

.extra_photo_name {
  font-size: 10px;
  width: 90px;
  word-wrap: break-word;
}

.photo_remove {
  background: url("../images/photo_remove.png") 0 0 no-repeat transparent;
  height: 20px;
  position: absolute;
  right: 3px;
  top: 3px;
  width: 20px;
}

.content_header {
  font-size: 20px;
  font-weight: bold;
  line-height: 60px;
  margin-left: 20px;
}

.content select {
  width: 240px;
}

.content textarea {
  margin-top: 4px;
  padding: 4px 0px 4px 4px;
}

.content .offer_type {
  width: 120px;
}

.content_row {
  margin-bottom: 10px;
}

.form_row {
  margin-bottom: 14px;
}

.form_row label {
  display: inline-block;
  width: 330px;
  text-align: right;
  font-weight: bold;
  vertical-align: top;
  line-height: 26px;
  margin-right: 10px;
}

.form_row span {
  font-weight: bold;
}

.form_row .avito_preview {
  margin-left: 345px;
  font-weight: bold;
  text-transform: uppercase;
}

.inrow_label {
  display: inline !important;
  font-weight: normal !important;
  line-height: 26px;
}

.inrow_block {
  display: inline-block;
}

.content_row_left {
  font-size: 14px;
  display: inline-block;
  vertical-align: middle;
  *vertical-align: auto;
  *zoom: 1;
  *display: inline;
  text-align: right;
  vertical-align: top;
  width: 40%;
}

.content_row_left span {
  font-weight: bold;
  line-height: 24px;
  margin-right: 10px;
}

.content_row_right {
  display: inline-block;
  vertical-align: middle;
  *vertical-align: auto;
  *zoom: 1;
  *display: inline;
  font-size: 14px;
  width: 60%;
}

.content_row_right .fwb {
  font-weight: bold;
}

.content_row_right .fr {
  float: right;
  margin-right: 20px;
}

.content_row_right span {
  line-height: 24px;
}

.content_row_right a {
  font-weight: bold;
  text-transform: uppercase;
}

.inrow_span {
  display: inline-block;
  vertical-align: middle;
  *vertical-align: auto;
  *zoom: 1;
  *display: inline;
  margin: 0 !important;
  text-align: right;
  width: 88px !important;
}

.content_input_tiny {
  text-align: center;
  text-indent: 0px !important;
  width: 50px;
}

.content_input_small {
  text-align: center;
  text-indent: 0px !important;
  width: 70px;
}

.content_input_medium {
  width: 150px;
}

.content_input_long {
  width: 300px;
}

.content .price {
  width: 105px;
}

.content .price_text {
  margin-right: 14px;
}

.content .price_separator {
  padding: 0 9px;
}

.content .label_wrap {
  height: 26px;
  margin-top: 4px;
}

.content .person {
  margin-top: 4px;
}

.content_pane_wrapper {
  background-color: #cdcdcd;
  margin-top: 20px;
  margin-bottom: 20px;
}

.content_pane {
  font-size: 0px;
  padding: 20px;
}

.content_pane_header {
  font-size: 20px;
  font-weight: bold;
  margin-bottom: 10px;
}

.content_pane_ur_corner {
  float: right;
}

.content_pane_left {
  display: inline-block;
  vertical-align: middle;
  *vertical-align: auto;
  *zoom: 1;
  *display: inline;
  float: left;
  font-size: 14px;
  vertical-align: top;
  width: 50%;
}

.float_right {
  float: right;
}

.content_pane_right {
  display: inline-block;
  vertical-align: middle;
  *vertical-align: auto;
  *zoom: 1;
  *display: inline;
  font-size: 14px;
  vertical-align: top;
  width: 50%;
}

.content_pane_right ul {
  list-style: none;
  margin: 0px 0px 0px 10px;
  padding: 0;
}

.content_pane_row {
  margin-bottom: 15px;
}

.content_pane_row p {
  margin-top: 40px;
  width: 300px;
}

.content_pane_image {
  height: 290px;
  width: 380px;
  -webkit-border-radius: 3px;
  border-radius: 3px;
}

.content_pane_image_selector .arrow_up {
  background: url(../images/arrow_up.png) 182px 3px no-repeat;
  height: 12px;
  margin-top: 5px;
  width: 380px;
}

.content_pane_image_selector .arrow_down {
  background: url(../images/arrow_down.png) 182px 3px no-repeat;
  height: 12px;
  margin: 5px 0px;
  width: 380px;
}

.content_pane_image_selector .arrow_bg {
  background-color: #e6e6e6;
}

.content_pane_image_selector .image_grid {
  font-size: 0px;
  height: 200px;
  overflow: hidden;
}

.content_pane_image_selector .image_grid .image_grid_thumb {
  height: 60px;
  margin-right: 5px;
  margin-top: 5px;
  width: 90px;
  -webkit-border-radius: 3px;
  border-radius: 3px;
}

.content_pane_footer {
  margin-top: 30px;
}

.content_footer {
  padding: 20px;
  font-size: 0px;
  border-top: 1px dotted #000;
}

.content_footer_column {
  display: inline-block;
  vertical-align: middle;
  *vertical-align: auto;
  *zoom: 1;
  *display: inline;
  font-size: 14px;
  width: 50%;
}

.content_footer_column .content_footer_row .row_head {
  display: inline-block;
  vertical-align: middle;
  *vertical-align: auto;
  *zoom: 1;
  *display: inline;
  font-weight: bold;
  margin-right: 10px;
  vertical-align: top;
}

.content_footer_column .content_footer_row .row_content {
  display: inline-block;
  vertical-align: middle;
  *vertical-align: auto;
  *zoom: 1;
  *display: inline;
  vertical-align: top;
}

.content_footer_column .content_footer_row .row_content .extra_buttons {
  margin-bottom: 10px;
}

.content_footer_column .content_footer_row .row_content .agent_contacts {
  font-weight: normal;
}

.content_footer_column .content_footer_row .row_content .agent_contacts .agent_name {
  margin-bottom: 5px;
}

.content_footer_column .content_footer_row .row_content .agent_contacts .agent_phone {
  margin-bottom: 5px;
}

.content_footer_column .content_footer_row .row_content .ad_links a {
  display: block;
  line-height: 20px;
}

.content_footer_column .content_footer_row .row_content .ad_links_grayed {
  color: #a9a9a9;
}

.content_footer_column .content_footer_row .row_content .ad_links_grayed a {
  color: #a9a9a9;
}

.search_menu {
  line-height: 60px;
}

.search_menu .sorting {
  display: inline-block;
  vertical-align: middle;
  *vertical-align: auto;
  *zoom: 1;
  *display: inline;
  margin-left: 20px;
}

.search_menu .sorting select {
  width: 130px;
}

a {
  color: #00746b;
}

html {
  height: 100%;
}

body {
  color: #434343;
  font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
  font-size: 14px;
  height: 100%;
  margin: 0;
}

.browsehappy {
  background-color: #bcbcbc;
  height: 40px;
  line-height: 40px;
  margin: 0;
  text-align: center;
}

.page_wrapper {
  height: 100%;
}

.half_opacity {
  filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=50);
  opacity: 0.5;
}

.hidden {
  display: none;
}

#filelist {
    margin:20px; 
}

#filelist img {
    max-width: 150px;
    border-radius: 2px;
}

#filelist ul {
    list-style:none;
}
#filelist li {
    position: relative;
    max-width: 150px;
    float: left;
}

#filelist span {
    position: absolute;
    right: 0.3em;
    background: #000;
    color: #f3f1ed;
    padding: 0 0.25em;
    border-radius: 2px;
}

#filelist span.size {
    top: 1.7em; 
}

#filelist span.name {
    top: 0.3em;
}

#filelist .remove {
    position: absolute;
    right: 0.3em;
    bottom: 0.5em;
    background: #A33B58;
    color: #f3f1ed;
    padding: 0 0.25em;
    border-radius: 2px;
    display: none;
}
#filelist li:hover .remove {
    display: block;
}