.callc {
    font-size: 10px;
    left: -25px;
    top: 5px;
    position: absolute;
}

.red {
    position: relative;
    margin: 10px;
    float: right;
    color: red;
}

.price_row {
    display: none;
}

.button_disable,
.button_disable:hover {
    background: #bebebe;
    color: #00746b;
    cursor: default;
    border: 1px solid #cccccc;
}

.system_message_block {
    position: relative;
    background: #fefd60;
    width: 100%;
    padding: 0;
    margin-bottom: 10px;
    float: left;
}

.system_message_block .warning span {
    color: #bd2121;
    font-weight: bold;
    margin: -10px 80px 40px 5px;
    display: inline-block;
}

.system_message_block .warning span img {
    position: relative;
    top: 31px;
    right: 5px;
}

.system_message_block .warning {
    padding: 10px;
    display: inline-block;
    float: left;
    width: 30%;
}

.system_message_block .warning p {
    display: inline-block;
    margin: 0;
}

.system_message_block .message {
    display: inline-block;
    width: 60%;
    padding: 10px;
}

.system_message_block .message .title {
    font-size: 18px;
    display: block;
    margin-bottom: 12px;
}

.system_message_block .message .close {
    position: absolute;
    bottom: 10px;
    right: 10px;
}

.filter_menu {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}

.filter_menu_item {
    flex-grow: 1;
}

.popup-client .form_status {
  margin: 0;
}

.formStatus .form_row > label,
.formStatus .form_cell > label {
  float: none;
  width: auto;
  text-align: left;
}

.form_cell {
  float: left;
  margin: 0 0 20px 20px;
}

.form_cell:first-child {
  margin-left: 0;
}

.status_textarea {
  width: 99%;
}

ul.status_list {
    margin: 10px 0 10px -7px;
    padding: 0;
    list-style-type: none;
}

ul.status_list li {
    padding: 3px 7px;
    border: 1px solid #fff;
    cursor: pointer;
}

ul.status_list li:hover {
  background: #eee;
}

ul.status_list li.status_selected {
    border-color: red;
}
.agent_phone_extra{
    font-weight: 400;
    line-height: 15px;
    font-size:12px;
}
.agent_phone_extra i{
    font-size:10px;
}

#iDOP_FACE::-webkit-input-placeholder {
font-size:12px;
}

#iDOP_FACE:-moz-placeholder { /* Firefox 18- */
font-size:12px;
}

#iDOP_FACE::-moz-placeholder { /* Firefox 19+ */
font-size:12px;
}

#iDOP_FACE:-ms-input-placeholder {
font-size:12px;
}
.filter_row #dateto_obj{
    margin-left:5px;
}

select.rieltor{
    padding-right: 20px;
}
.filter .form_select {
    height: 31px;
}

.preview_canvas{
    width:90px;
}
.object_preview_list .preview_canvas canvas {
    max-width: 100%;
    height: auto;
}
.object_preview_list .preview_canvas img {
    max-width: 100%;
    height: auto;
}
#imageLoaderPhoto{
    display:none;
}
.preview_canvas label{
    display:none;
}
#button_move .error_text{
    display:none;
}
#success{
    display:none;
}
.green{
    color: #88ff88;
}
.comment_block{
    min-width: 465px;
}
.ready_ads .text{
    text-decoration: underline;
}
.filter_row .alert{
    display:none;
    font-size:10px;
    color:red;
}
.caller i{
    font-size: 10px;
    display: inherit;
}
.operator_fast_search{
    display: inline-block;
    width: 100%;
}
.operator_fast_search .section{
    padding: 10px 5px;
}
.left_section{
    display: inline-block;
    width:67%;
    float: left;
}
.left_section  .block_row{
    float: left;
    width: 48%;
}
.right_section{
    width: 29%;
    float: left;
    text-align: right;
}
.panel-seacrh-button {
	outline: none;
    max-width: 120px;
    padding: 3px;
    margin: 0 4px;	
	position: relative;
    background-color: #7accc8;
    border: 1px solid #7accc8;
    border-radius: 5px;
    color: #fff;
    cursor: pointer;
    font-weight: bold;
    height: 40px;
    border-radius: 5px;
    -webkit-box-shadow: 2px 2px 1px 0px rgba(87,146,143,0.5);
    -moz-box-shadow: 2px 2px 1px 0px rgba(87,146,143,0.5);
    box-shadow: 2px 2px 1px 0px rgba(87,146,143,0.5);
}
.panel-seacrh-button:hover {
	background-color: #a5dfdd;
    border-color: #a5dfdd;
}

.panel-seacrh-button.element-seacrh span {
	width: 29px;
	height: 30px;
	display: block;
	background: url(../img/search_docum_icon.png) no-repeat;
}
.panel-seacrh-button.mans-seacrh span {
	width: 29px;
	height: 30px;
	display: block;
	background: url(../img/search_user_icon.png) no-repeat;
}

.search_row {
    margin: 0;
}
.search_row input{
    width: 76%;
	height: 40px;
	line-height: 40px;
}


/*section ajax-search*/
.ajax_search_block_first, .ajax_search_block_second{
    position:relative;
}
.search_head span{
    display:none;
}
.search_head span.current{
    display:block;
}
.filter_tabs_block .search_results{
    display:none;
}
.search_next{
    cursor: pointer;
    text-align: center;
    min-height: 18px;
    padding: 5px;
    border: 1px dashed #434343;
    position: relative;
    margin-bottom: 1px;
}
.search_turn{
    cursor: pointer;
    text-align: center;
    min-height: 18px;
    padding: 5px;
    border: 1px dashed #434343;
    position: relative;
}
.searched{
    display:none;
}
.search_update{
    display:none;
}
.search_ajax_list{
    min-height: 65px;
}
.search_ajax_list .agent_description span{
    border-bottom: 1px dashed #434343;
    cursor: pointer;
}
.search_ajax_list .agent_ads_link{
    border-bottom: 1px dashed #434343;
    cursor: pointer;
}
.is_loading:before {
    position: absolute;
    top: 43%;
    left: 57%;
    width: 16px;
    height: 16px;
    margin: -8px 0 0 5px;
    background: url(images/ajax-loader.gif) 50% no-repeat;
    content: '';
    z-index: 6;
}
.filter_submit{
    float:right;
}
.search_results .search_ajax_list span.client_ads_link{
    border-bottom: 1px dashed #434343;
    cursor: pointer;
    font-weight: normal;
    display: inline;
}

.elements_tab .filter_row_wrap {
    padding-left:0;
    list-style:none;
    display: flex;
    flex-direction: row;
    justify-content: space-around;	
}
.elements_tab ul.filter_row_wrap {
	border: 2px solid #7accc8;
    border-radius: 5px;
}
.elements_tab ul.filter_row_wrap .search_block {
	border-color: #7accc8;
	border-width: 0 2px 0 2px;
	border-style: solid;
    border-radius: 5px;
    margin: 0 0px 0 -1px;
    border-radius: 0 !important;
}

.elements_tab ul.filter_row_wrap .search_block:first-child {
	border-width: 0 0 0 2px;
	width: 220px;
}
.elements_tab ul.filter_row_wrap .search_block:first-child select {
    padding: 0 18px 0 0;
    box-sizing: border-box;
}

.elements_tab ul.filter_row_wrap .search_block.district-el {
    box-sizing: border-box;
	min-width: 110px;
	border-width: 0 0px 0 2px;
}
.elements_tab ul.filter_row_wrap .search_block.district-el .SumoSelect {
	display: block;
	height: 35px;    
	margin: 0 0 0 2px;
	vertical-align: top;
}
.elements_tab ul.filter_row_wrap .search_block.district-el .SumoSelect .optWrapper {
	margin: 10px 0 0 0;
}
.elements_tab ul.filter_row_wrap .search_block.district-el .CaptionCont {
    width: 100%;
	height: 35px;
	line-height: 35px;
	border-radius: 0;
}
.elements_tab ul.filter_row_wrap .search_block.district-el .SlectBox {
    border: 0;
    box-sizing: border-box;
    padding: 0 0 0 5px;
	overflow: hidden;
}
.object_properties_filter .status_row .optWrapper {
    width: 300px;
}
.elements_tab ul.filter_row_wrap .search_block.city-el .optWrapper {
	width: 170px;
}
.elements_tab ul.filter_row_wrap .search_block.district-el .multiple {
	width: 200px;
}
.elements_tab ul.filter_row_wrap .search_block.district-el .multiple .options li {
	padding-right: 10px;
	text-align: left;
}
.elements_tab ul.filter_row_wrap .search_block.district-el .SlectBox label i {
	display: none;
}
.elements_tab ul.filter_row_wrap .search_block.district-el .SlectBox span {
	width: 100%;
	text-align: left;
	box-sizing: border-box;
}

/************************/
.elements_tab ul.filter_row_wrap .search_block.city-el {
    box-sizing: border-box;
	min-width: 110px;
	margin: 0 -2px 0 -12px;
	text-align: left;
}
.elements_tab ul.filter_row_wrap .search_block.district-el {
	margin: 0 -1px 0 -7px;
}
.elements_tab ul.filter_row_wrap .search_block.city-el .SumoSelect {
	display: block;
	height: 35px;    
	margin: 0 0 0 2px;
	vertical-align: top;
}
.elements_tab ul.filter_row_wrap .search_block.city-el .SumoSelect .optWrapper {
	margin: 10px 0 0 0;
}
.elements_tab ul.filter_row_wrap .search_block.city-el .CaptionCont {
    width: 100%;
	height: 35px;
	line-height: 35px;
}
.elements_tab ul.filter_row_wrap .search_block.city-el .SlectBox {
    border: 0;
    box-sizing: border-box;
    padding: 0 0 0 5px;
	overflow: hidden;
}
.elements_tab ul.filter_row_wrap .search_block.city-el .multiple {
	width: 200px;
}
.elements_tab ul.filter_row_wrap .search_block.city-el .multiple .options li {
	padding-right: 10px;
	text-align: left;
}
.elements_tab ul.filter_row_wrap .search_block.city-el .SlectBox label i {
	display: none;
}
.elements_tab ul.filter_row_wrap .search_block.city-el .SlectBox span {
	width: 100%;
	text-align: left;
	box-sizing: border-box;
}
/************************/

.search_block {
    position: relative;
    display:block;
    vertical-align: middle;
    line-height: 26px;
    flex-grow: 1;
}
.filter_row_wrap .search_block select, .filter_row_wrap .search_block input{
    width:100%;
    height: 35px;
    box-sizing: content-box;
	border: none;
}
.search_block.subjects-el{
    flex-grow: 1;
}
.search_block.type_subjects-el{
    flex-grow: 3;
    display:none;
}
.search_block.district-el{
    display:none;
    flex-grow: 2;
}
.search_block.search-el{
    padding-right: 3px;
    flex-grow: 3;
}
.search_ajax_list .entry:hover {
    background: rgba(122, 204, 200, 0.21);
}
.search_block_select{
    padding-right: 1px;
}
.filter_row_wrap .search_block_select:after {
    background: url(../img/arrow_select.png) 0 0 no-repeat;
    content: '';
    display: inline-block;
    vertical-align: middle;
    height: 6px;
    margin-top: -3px;
    pointer-events: none;
    position: absolute;
    right: 10px;
    top: 50%;
    width: 12px;
}

.mans_form .input-wrap {
	width: 100%;
}
.mans_form input[type="text"] {
    width: 100%;
    height: 48px;
    line-height: 40px;
    border: 4px solid #7accc8;
    box-sizing: border-box;
	padding: 0 115px 0 0;
}
.mans_form .del-input.select2-search-choice-close {
	top: 18px;
    right: 105px;
}
.mans_form .button_universal {
	top: -44px;
    box-shadow: none;
    right: 4px;
    border-radius: 0;
	z-index: 999;
	cursor: pointer;
}

.fixed_block_text {
	position: fixed;
	left: 0;
	top: 30%;
	width: 250px;
	height: 200px;
	background: #7accc8;
	color: #fff;
	padding: 20px;
	box-sizing: border-box;	
	border-radius: 0 5px 5px 0;
}
.fixed_block_text .wrap {
	overflow: hidden;
	height: 100%;
	width: 100%;
}
.fixed_block_text .close_form {
	display: block;
    width: 16px;
    height: 16px;
    position: absolute;
    right: 10px;
	top: 10px;
    font-size: 1px;
    outline: none;
	border: 0;
    background: url('../img/close_form.png') no-repeat;
}
.fixed_block_text span {
	font-size: 18px;
}
.fixed_block_text span a {
	color: #fff;
}
.fixed_block_text .open_fixed_block {
    height: 40px;
    width: 100%;
	position: absolute;
    margin: 0 0 0 -20px;
    bottom: 0;
	border-radius: 0 0 5px;
	background: -moz-linear-gradient(top,  rgba(122,204,200,0.35) 0%, rgba(122,204,200,0.44) 14%, rgba(122,204,200,1) 100%);
	background: -webkit-linear-gradient(top,  rgba(122,204,200,0.35) 0%,rgba(122,204,200,0.44) 14%,rgba(122,204,200,1) 100%);
	background: linear-gradient(to bottom,  rgba(122,204,200,0.35) 0%,rgba(122,204,200,0.44) 14%,rgba(122,204,200,1) 100%);
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#597accc8', endColorstr='#7accc8',GradientType=0 );
}
.fixed_block_text .open_fixed_block:hover:before {
    content: '';
    display: block;
    border-style: solid;
    position: absolute;
    border-width: 5px 8px 0 8px;
    border-color: #fff transparent transparent transparent;
    z-index: 4;
    bottom: 8px;
    margin: 0 -4px 0 0;
    right: 50%;
}
.fixed_block_text.open {
	height: auto;	
}
.fixed_block_text.open .open_fixed_block {
	background: none;
}
.fixed_block_text.close {
	display: none;
}
.extra_filter{
    display:none;
}
.search_extra_filter {
	margin: 0 0 40px;
	text-align: left;
}

.elements_form .filter_row_wrap{
	width: 100%;
	text-align: right;
}
.price_dragger.extra_dragger .ui-slider-handle {
    top: -10px;
    width: auto;
    height: 30px;
    display: block;
    font-size: 16px;
    z-index: 1;
    line-height: 30px;
    text-align: center;
    cursor: pointer;
    outline: none;
    margin: 0 0 0 -5px;
    padding: 0 10px;
}
.price_ajax_search .price_dragger.extra_dragger .ui-slider-handle {
    min-width: 40px;
}
.price_dragger.extra_dragger .ui-slider-handle.ui-state-hover {
	z-index: 999;
}
/*
.price_dragger.extra_dragger .ui-slider-handle:after {
	content: '';
	left: 0;
	display: block;
	position: relative;
	top: -45px;
    background: #fff;
	width: 15px;
    height: 20px;
	border: 1px solid #00746b;
	border-radius: 4px;
}
*/
/*
.price_ajax_search .price_dragger.extra_dragger .ui-slider-handle {	
	top: 20px;
}
.price_ajax_search .price_dragger.extra_dragger .ui-slider-handle:after {
	top: -45px;
}
.price_ajax_search .price_dragger.extra_dragger .ui-slider-handle:last-child {
	top: -30px;
}
.price_ajax_search .price_dragger.extra_dragger .ui-slider-handle:last-child:after {	
	top: 5px;
}
*/
.range_slide {
	width: 280px;
	display: block;
	position: relative;
}
.tooltip {
    font-size: 14px;
	display: block !important;
	position: absolute;
	margin: 0 0 0 -250px;
	padding: 5px 10px;
	border: 1px solid #00746b;
    background: #fff;
	font-weight: normal;
    color: #555555;
	z-index: 99;
}
.search_extra_filter .filter_row.multi_select_row {
    width:200px;
}
.search_extra_filter .filter_row.multi_select_row .CaptionCont {
    overflow: hidden;
    box-sizing: border-box;
    height: 30px;
    line-height: 30px;
    padding: 0 0 0 5px;
}
.search_extra_filter .filter_row.multi_select_row .CaptionCont span {
	box-sizing: border-box;
	width: 100%;
}

.multi_select_row select.js-example-basic-multiple{
    display:none;
}
.search_extra_filter.extra_filter .select2_row .del-input{
    top: 37px;
    right: 16px;
}
.mans_tab.no_additional_row .ajax_filter{
    padding-bottom: 0;   
}
.mans_tab  .ajax_filter .filter_row.search_mans_row {
    margin-bottom: 0px; 
}
.no_additional_row .extra_man_row{
    display:none;
}
.mans_form  .extra_man_row .del-input.select2-search-choice-close {
    top: 6px;
    right: 1px;
}
.mans_form  .extra_man_row .input-wrap {
    width: auto;
    border: 1px solid #595959;
    border-radius: 10px;
    padding: 5px 17px 5px 5px;
    background-color: white;
}
.ajax_filter .filter_row .with_photo + label {
    margin-left:0px;
}
.search_results .search_ajax_list a.entry_search_client_link {
    border-bottom: 1px dashed #434343;
    cursor: pointer;
    font-weight: normal;
    display: inline;
    color: #434343;
    text-decoration: none;
}
.search_results .search_ajax_list div.entry_agent {
    margin: 0;
    margin-top: 10px;
}
.footer_search_row .filter_row{
    margin-top: 10px;
    width: auto;
}
.footer_search_row .filter_row_button{
    margin-top: 0;
}
.ajax_filter .mans_form .filter_row_wrap {
    margin: 0px;
}
.mans_tab .ajax_sort select{
    padding-right: 20px;
}
.search_results .entry_client_link {
    font-size: 14px;
}
.elements_form .filter_row_wrap.ajax_search_date{
    text-align: left;
    margin: 30px 0 0 0;
}
.search_extra_filter .input-wrap.input-wrap-select .del-input {
    display:none;
    top: 63px;
    right: 25px;
}
.search_extra_filter .input-wrap.input-wrap-select.multi-select-wrap .del-input {
    top: 40px;
    right: 25px;
}
.district-el .input-wrap, .city-el .input-wrap {
    display:block;
}
.district-el .input-wrap, .search-el .input-wrap {
    display:block;
}
.elements_form .district-el .del-input, .elements_form .city-el .del-input {
    display:none;
    top: 11px;
    right: 8px;
}
.elements_form .search-el .del-input {
    display:none;
    top: 11px;
    right: 15px;
}
.elements_form .search-el .input_with_value .del-input {
    display:block;
}
.filter_row_wrap .search_block_select.with_value:after{
    background: none;
}
.ajax_search_date .price_text{
    width: 100%;
}
.ajax_search_date .filter_row{
    padding-left: 25px;
}
.search_extra_filter.extra_filter .price_ajax_search.select2_row .del-input {
    top: 9px;
    right: 5px;
    display:none;
}
.search_extra_filter.extra_filter .price_ajax_search.select2_row .input_with_value .del-input {
    display:block;
}

.ajax_search_date.filter_row_wrap   .del-input {
    display:none;
}
.ajax_search_date.filter_row_wrap .input_with_value .del-input {
    display:block;
}
.object_properties_filter .filter_row.status_row  .del-input {
    display:none;
    top: 40px;
    right: 20px;
}
.object_properties_filter .filter_row.status_row.with_value .del-input {
    display:block;
}
.mans_form .search_mans_row .del-input {
    display:none;
}
.search_extra_filter .status_row .input-wrap-select p.CaptionCont{
    overflow: hidden;
    box-sizing: border-box;
    height: 30px;
    line-height: 30px;
    padding: 0 0 0 5px;
}
.search_extra_filter .status_row .input-wrap-select p.CaptionCont span{
    box-sizing: border-box;
    width: 100%;
}

.needs_detail .variants_block{
    position:relative;
    min-height: 150px;
    margin-bottom: 50px;
}


.needs_detail .needs_variants .tabs{
    display: none;
}
.needs_detail .needs_variants .tabs.visible{
    display: block;
}
.tabs_main_block{
    display:none;
}
.empty_variant_block{
    display:none;
}
.variants_block .tabs{
    position:relative;
    min-height: 100px;
}
.variants_block .sort_variants_block {
    text-align: right;
    display: block;
    margin-bottom: 10px;
}
.variants_block .sort_variants_block select{
    width: 60px;
}
.variants_block .sort_variants_block select:after{
    background: url(../img/arrow_select.png) 0 0 no-repeat;
    content: '';
    display: inline-block;
    vertical-align: middle;
    height: 6px;
    margin-top: -3px;
    pointer-events: none;
    position: absolute;
    right: 18px;
    top: 50%;
    width: 12px;
}

.page_navigation_block ul{
    list-style:none;
    margin:0;
    padding:0;
}
.page_navigation_block ul li{
    display: inline-block;
    font-size: 26px;
    padding: 10px;
    cursor: pointer;
    color: #ababab;
}
.page_navigation_block ul li.active{
    color: #434343;
}
.needs_variants{
    margin-bottom: 45px;
}
.acception_block{
    display:none;
    position:relative;
}
.needs_agent.client_list i{
    font-size: 11px;
}
.add_needs_block{
    display: inline-block;
    float: right;
}
/*calls*/

.new_call_form{
    position: relative;
}
.info_block{
    position: relative;
}
.add_form_row{
    position: relative;
    margin-bottom: 14px;
    margin-top: 7px;
}
.new_call_form .client_search_ajax{
    position:relative;
    display:none;
}
.ajax_search_result{
    display: none;
    border: 1px solid black;
    overflow: auto;
    position: relative;
    z-index: 10;
    background-color: white;
    max-height: 230px;
    width: 100%;
}
.search_result{
    padding:3px;
    cursor: pointer;
}
.search_result div.icon_block{
    float:right;
    margin-right: 5px;
}
.selected_result{
    background-color: #7accc8;
    cursor: pointer;
}
.changed_result{
    display: inline-block;
    cursor: pointer;
    border-bottom: 1px dashed #434343;
}
.changed_result:hover{
    color: #3b9c97;
    border-bottom: 1px dashed #3b9c97;
}
.number_result{
    font-size:12px;
    margin-bottom: 5px;
    padding:2px;
}
.extra_result_info{
    border: 1px solid black;
    max-width: 200px;
    min-height: 100px;
    padding: 5px;
    position: absolute;
    z-index: 10;
    background-color: white;
    top: 26px;
    right: 15px;
    display:none;
}
.extra_result_info span{
    display:inline-block;
    margin: 5px auto;
}
.easy_add_client{
    text-decoration: none;
    color:#434343;
    border-bottom: 1px dashed #434343;
}
.easy_add_client:hover{
    color: #3b9c97;
    border-bottom: 1px dashed #3b9c97;
}
.fast_client_add{
    display: none;
    position: relative;
    z-index: 10;
    background-color: white;
    border: 1px solid black;
    padding: 20px;
    height: 190px;
}
.fast_client_add .form_row label:first-child {
    width: 85px;
}
.fast_client_add input{
    height: 30px;
    line-height: 30px;
}
.close_add_form{
    float: right;
    cursor: pointer;
}
.close_add_form:hover{
    color: #3b9c97;
}
.new_call_form .top_form_section{
    position:relative;
}
.new_call_form .top_form_section .add_form_row{
    height:60px;
}
.new_call_form .top_form_section .add_form_row.client_row{
    height:30px;
}
.new_call_form .search_row{
    position:absolute;
    top: 20px;
    right:0;
    width: 60%;
}
.secondary{
    color: gray;
}
.add_form_row label{
    display: block;
    margin-bottom: 5px;
}
.add_form_row.date_row input{
    cursor:pointer;
}
#comment_call{
    resize: none;
    height: 100px;
}
.new_call_form textarea, .new_call_form input[type=text] {
    width: 37%;
}
input[name=new_call_submit]{
    width: 48%;
    margin-right: 20px;
}
input.new_call_ajax_submit{
    width: 48%;
    text-align: center;
}
button.fast_add_button{
    float: right;
}
.help_search_area{
    border: 1px dashed #7accc8;
    min-height: 230px;
}
.call_form_preloader{
    display:none;
}
.fast_client_add .form_row span{
    font-weight: normal;
    font-size: 12px;
    color: #00746b;
}
.fast_client_add .form_row.phone_row span{
    display:none;
    color: red;
}
.time_error, .client_error{
    display:none;
    color:red;
}
.agent_contact{
    margin-top:7px;
}
.form_row.errorInput input{
    border-color: red;
}

.filter_tabs_block{
    margin-bottom: 50px;
}
.search_results .client_search_card .btn_edit{
    top: 85px;
}
.status_name{
    margin-bottom: 10px;
}
.popup_ad {
	width: 500px;
	background: #cdcdcd;
    padding: 20px 40px;
}
.popup_ad .button {
	margin: 20px 20px 0 0;
}
.popup_ad .close_button {
    background: #bebebe none repeat scroll 0 0;
    border: 1px solid #bebebe;
    box-shadow: 1px 1px 1px 0 rgba(51, 18, 0, 0.5);
    color: #1d514d;
    cursor: pointer;
    display: inline-block;
    line-height: 40px;
    padding: 0 20px;	
    text-decoration: none;
    vertical-align: top;
    width: auto;
}
.status_column .button_universal{
    font-size:12px;
}
.status_column .comment{
    max-width: 200px;
}
.change_time_block{
    display:none;
}
.change_time_block input{
    width: 130px;
    cursor: pointer;
    font-size: 12px;
}
.status_var_name{
    font-size: 16px;
    padding-bottom: 10px;
    font-weight:600;
}
.status_var_name.request{
    color: #bebebe;
}
.status_var_name.shown{
    color: #00746b;
}
.status_var_name.abandon{
    color: red;
}

.need_tab .filter_row button.del-input{
    display:none;
}
.need_tab .filter_row.with_value button.del-input{
    display:block;
}

.need_tab .filter_row .CaptionCont label{
    width: 10px;
}
.need_tab .filter_row.with_value .CaptionCont label{
    display:none;
}
.need_tab .filter_row.district_select{
    display:none;
}
.need_tab  .filter_row span.price_text{
    width:100%
}
.needs_form .filter_row_wrap .filter_row {
    width:30%;
}
.needs_form .filter_row_wrap .filter_row.filter_row_button{
    width: auto;
    margin: 0 10px;
}
.needs_form .filter_row_wrap.filter_footer{
    text-align: right;
    margin: 0;
}
.new_show_status li.min-item button{
    font-size: 12px;
    line-height: 14px;
    text-align: center;
    width:160px;
}
.new_show_status ul {
    margin: 0 0 0 -5px;
    list-style: none;
}
.entry.entry_show{
    min-height: 110px;
}
.entry_buttons_object.new_show_status ul li {
    margin: 0px 0 15px -15px;
}
#show_comment textarea{
    margin-top: 5px;
    width: 466px;
    height: 74px;
    resize: none;
}
.comment_block .error{
    margin-bottom:5px;
    color:red;
    display:none;
}
.properties_list li{
    padding: 10px 0;
}
.object_need {
    text-align: center;
    width: 190px;
    float: right;
    position: relative;
    padding-top: 10px;
    padding-right: 5px;
}
.object_need .button.object_propose{
    font-size: 10px;
    width: 100%;
    line-height: 15px;
}
.object_need .propose_check{
    display:none;
    position: relative;
    text-decoration: none;
    margin-right: 20px;
}
.object_need .propose_check:before {
    content: '';
    width: 26px;
    height: 27px;
    background: url(../img/check.png);
    position: absolute;
    right: -25px;
    bottom: 0;
}
.object_variant_block ul{
    list-style: none;
    padding: 0;
    margin: 0;
}
.object_variant_block ul li{
    padding:10px 0;
    font-size:14px;
    border-bottom: 1px dashed;
}
.object_variant_block ul li .object_info-var{
    padding: 5px 0;
}
.object_info-var span{
    font-weight: 600;
    padding-right: 5px;
}
.object_need .propose_check.shown{
    display:block;
}
.choise_success{
    color: green;
    font-size: 20px;
}
.add_history_block{
    margin-bottom: 10px;
}
.add_history_block textarea{
    display: block;
    width: 100%;
    height: 75px;
    resize: none;
}
.add_history_block ul{
    list-style: none;
    padding: 0;
    margin: 0 0 20px 0;
}
.add_history_block ul{
    list-style: none;
    padding:0;
    margin: 0;
}

.add_history_block ul li{
    padding: 5px;
}
