@charset "UTF-8";
.page_wrapper {
  width: 820px;
  margin: 0 auto;
  padding: 0 10px;
}

.breadcrumb {
  font-size: 0px;
  line-height: 60px;
  list-style: none;
  margin-left: -20px;
}

.breadcrumb_item {
  color: #b8b8b8;
  display: inline;
  font-style: italic;
  font-size: 12px;
}
.breadcrumb_item a {
  color: #b8b8b8;
}

.breadcrumb_item:after {
  content: '/';
  margin: 0 2px;
}

.breadcrumb_item:last-child:after {
  content: '';
}

.button {
  position: relative;
  background-color: #7accc8;
  border: 1px solid #7accc8;
  border-radius: 5px;
  color: #fff;
  cursor: pointer;
  font-size: 14px;
  font-weight: bold;
  height: 40px;
/*  text-shadow: 1px 1px #7accc8;*/
  text-transform: uppercase;
  width: 250px;
  border-radius: 5px;
  -webkit-box-shadow: 2px 2px 1px 0px rgba(87,146,143,0.5);
-moz-box-shadow: 2px 2px 1px 0px rgba(87,146,143,0.5);
box-shadow: 2px 2px 1px 0px rgba(87,146,143,0.5);
}
.button:hover, .button:active {
  color: #fff;
}
.button:hover {
  background-color: #a5dfdd;
  border-color: #a5dfdd;
}
.button:active {
  background-color: #00746b;
  border-color: #00746b;
}

.search_menu .button + .button {
  margin-right: 10px;
}

.button.button_universal {
  display: inline-block;
  vertical-align: top;
  *vertical-align: auto;
  *zoom: 1;
  *display: inline;
  line-height: 40px;
  width: auto;
  text-decoration: none;
  padding: 0 20px;
}
.button.filter_reset {
  display: inline-block;
  vertical-align: top;
	border: 1px solid #bebebe;
  *vertical-align: auto;
  *zoom: 1;
  *display: inline;
  line-height: 40px;
  width: auto;
  text-decoration: none;
  padding: 0 20px;
  cursor: pointer;
	background: #bebebe;
	color: #1d514d;
	-webkit-box-shadow: 1px 1px 1px 0px rgba(51,18,0,0.5);
	-moz-box-shadow: 1px 1px 1px 0px rgba(51,18,0,0.5);
	box-shadow: 1px 1px 1px 0px rgba(51,18,0,0.5);
}
.button.gray {
  display: inline-block;
  vertical-align: top;
	border: 1px solid #bebebe;
  *vertical-align: auto;
  *zoom: 1;
  *display: inline;
  line-height: 40px;
  width: auto;
  text-decoration: none;
  padding: 0 20px;
  background: #bebebe;
  color: #484343;	
  border: 0;
  box-shadow: none;
  cursor: default;
}

.button.button_move {
  height: 27px;
  padding: 10px 0;
  font-size: 13px;
  line-height: 14px;
  text-align: center;
}

.login_btn {
  /* АВТОРИЗОВАТЬСЯ */
  margin-top: 45px;
  margin-left: 90px;
  width: 210px;
}

.find_btn {
  /* НАЙТИ */
  float: right;
  width: 150px;
}

.filter_footer {
  clear: both;
  width: 100%;
}

/*.filter_footer .find_btn {}*/

.new_ad_btn {
  /* ДОБАВИТЬ ОБЪЯВЛЕНИЕ */
  float: right;
}

.save_btn {
  /* СОХРАНИТЬ */
  margin-top: 20px;
  width: 150px;
  margin-left: 345px;
}

.save_profile_btn {
  margin: 30px 0;
  margin-left: 345px;
}

.save_pass_btn {
  margin-top: 20px;
  margin-left: 345px;
}

.download_btn {
  /* ЗАГРУЗИТЬ */
  display: inline-block;
  width: 150px;
  cursor: pointer;
}

.hidden-file {
  opacity: 0;
  position: absolute;
  top: 0;
  left: 0;
  cursor: pointer;
}

.download-text {
  text-align: center;
  cursor: pointer;
}

.add_object_btn {
  /* ДОБАВИТЬ ОБЪЕКТ */
  width: 230px;
  margin-left: 345px;
}

.add_client_btn {
  /* ДОБАВИТЬ КЛИЕНТА*/
  margin-top: 30px;
  margin-left: 345px;
}

.filter .toggle_btn {
  /* СВЕРНУТЬ/РАЗВЕРНУТЬ */
  bottom: 5px;
  color: #707070;
  cursor: pointer;
  left: 50%;
  margin-left: -45px;
  padding-left: 15px;
  position: absolute;
}

.toggle_up {
  background: url(../img/toggle_btn_up.png) left no-repeat;
}

.toggle_down {
  background: url(../img/toggle_btn_down.png) left no-repeat;
}

.etc_btn {
  /* ... */
  background: url(../img/etc_btn.png) 0 0 no-repeat;
  border: none;
  display: inline-block;
  height: 28px;
  vertical-align: middle;
  width: 36px;
  font-size: 0px;
}

.calendar_btn {
  /* кнопка с иконкой календаря */
  background: url(../img/buttons/calendar_btn.png) no-repeat;
  margin: 0 6px;
}
.calendar_btn:hover {
  background-position: 0 -28px;
}
.calendar_btn:active {
  background-position: 0 -56px;
}

.btn_edit {
  /* кнопка с иконкой карандаша */
  background: url(../img/buttons/entry_btn_edit.png) no-repeat;
}
.btn_edit:hover {
  background-position: 0 -27px;
}
.btn_edit:active {
  background-position: 0 -54px;
}

.btn_connections {
  /* кнопка с иконкой связей */
  background: url(../img/buttons/entry_btn_similar.png) no-repeat;
}
.btn_connections:hover {
  background-position: 0 -27px;
}
.btn_connections:active {
  background-position: 0 -54px;
}

.calendar_btn,
.btn_connections,
.btn_edit {
  display: inline-block;
  vertical-align: middle;
  *vertical-align: auto;
  *zoom: 1;
  *display: inline;
  margin-bottom: 2px;
  cursor: pointer;
  font-size: 0px;
  width: 36px;
  height: 26px;
  border: none;
}

.calendar_ico {
  background: url(../img/agent_calendar_img.png) 0 0 no-repeat;
  border: none;
  display: inline-block;
  vertical-align: middle;
  *vertical-align: auto;
  *zoom: 1;
  *display: inline;
  height: 24px;
  vertical-align: middle;
  width: 20px;
}

.clients_ico {
  background: url(../img/agent_clients_img.png) 0 0 no-repeat;
  border: none;
  display: inline-block;
  vertical-align: middle;
  *vertical-align: auto;
  *zoom: 1;
  *display: inline;
  height: 31px;
  vertical-align: middle;
  width: 32px;
}

.ads_ico {
  background: url(../img/agent_ads_img.png) 0 0 no-repeat;
  border: none;
  display: inline-block;
  vertical-align: middle;
  *vertical-align: auto;
  *zoom: 1;
  *display: inline;
  height: 31px;
  vertical-align: middle;
  width: 32px;
}

.objects_ico {
  background: url(../img/agent_objects_img.png) 0 0 no-repeat;
  border: none;
  display: inline-block;
  vertical-align: middle;
  *vertical-align: auto;
  *zoom: 1;
  *display: inline;
  height: 31px;
  vertical-align: middle;
  width: 32px;
}

.avito_ico {
  background: url(../img/avito_logo.png) 0 0 no-repeat;
  border: none;
  display: inline-block;
  vertical-align: middle;
  *vertical-align: auto;
  *zoom: 1;
  *display: inline;
  height: 28px;
  vertical-align: middle;
  width: 28px;
}

.header {
  padding: 12px 0 10px;
  white-space: nowrap;
  width: 100%;
  *zoom: 1;
}
.header:after {
  content: "";
  display: table;
  clear: both;
}

.realtor_card--header {
  float: left;
  margin-left: 80px;
}

.realtor_photo--header {
  float: left;
  height: 60px;
  margin-left: -80px;
  overflow: hidden;
  width: 60px;
}
.realtor_photo--header img {
  display: block;
  border: none;
}

.realtor_name--header {
  font-size: 20px;
  margin-top: 4px;
}

.logout_link {
  float: right;
  margin-top: 10px;
}

.logout_icon {
  background: url("../img/logout.png") 0 0 no-repeat;
  display: inline-block;
  vertical-align: middle;
  *vertical-align: auto;
  *zoom: 1;
  *display: inline;
  height: 24px;
  margin-left: 5px;
  vertical-align: middle;
  width: 28px;
}

.active_filters {
  margin-left: 20px;
  margin-bottom: 20px;
}

.active_filters_header {
  font-weight: bold;
}

.active_filters_row {
  line-height: 26px;
}

.filter_wrapper {
  background: #cdcdcd;
  border-radius: 4px 4px 0 0;
}

.filter_wrapper .button_panel {
  padding: 30px 10px 0;
  background: #fff;
  border-bottom: 2px solid #cdcdcd;
  overflow: hidden;
}

.button_panel .tab {
  float: left;
  display: block;
  width: 199px;
  padding: 20px 0px;
  background: #eee;
  text-align: center;
  border-left: 1px solid #cdcdcd;
}

.button_panel .tab:first-child {
  border-left-color: #eee;
}

.button_panel .tab._active:first-child {
  border-left-color: #cdcdcd;
}

.button_panel .tab._active {
  background: #cdcdcd;
}

.filter {
  /*height: 220px;*/
  position: relative;
  padding: 20px;
}

.filter.filter_objects .filter_left_block {
  width: 430px;
}

.filter.filter_objects .filter_right_block {
  width: 340px;
}

.filter_footer .filter_row__inline {
  margin-bottom: 0;
}

.filter.filter_objects .city {
  float: left;
}

.filter.filter_objects .input_street {
  width: 205px;
}

.filter.filter_objects .input_street input[type=text] {
  width: 203px;
}

.filter.filter_objects .button {
  margin-top: 11px;
}

.filter_menu {
  margin: 0;
  padding: 0;
  *zoom: 1;
}
.filter_menu:after {
  content: "";
  display: table;
  clear: both;
}

.filter_menu_item {
  display: block;
  float: left;
  font-weight: bold;
  text-align: center;
  text-transform: uppercase;
  /*width: 33.3333333%;*/
}
.filter_menu_item:first-child a {
  border-radius: 4px 0 0 4px;
}
.filter_menu_item:last-child a {
  border-radius: 0 4px 4px 0;
}
.filter_menu_item a {
  background-image: -webkit-gradient(top, #7accc8, #7accc8);
  background-image: -webkit-linear-gradient(top, #7accc8, #7accc8);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#7accc8', endColorstr='#7accc8');
  background-image: linear-gradient(to bottom, #7accc8, #7accc8);
  border: 1px solid;
  border-top-color: #b2e2df;
  border-bottom-color: #60a09d;
  border-left-color: #96d7d4;
  border-right-color: #6ab2ae;
  border-collapse: collapse;
  color: #00746b;
  display: block;
  height: 38px;
  line-height: 38px;
  text-decoration: none;
}
.filter_menu_item a:hover {
  background-image: -webkit-gradient(top, #a7e0de, #83d0cc);
  background-image: -webkit-linear-gradient(top, #a7e0de, #83d0cc);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#83d0cc', endColorstr='#a7e0de');
  background-image: linear-gradient(to bottom, #a7e0de, #83d0cc);
  border-top-color: #cdeeed;
  border-right-color: #82bcba;
  border-bottom-color: #65a3a0;
  border-left-color: #afe0df;
  color: #00746b;
}
.filter_menu_item a:active {
  background: #00746b;
  border: 1px solid #006d64;
  border-top-color: #288a82;
  color: #fff;
}

.filter_menu_item--active a,
.filter_menu_item--active a:hover {
  background: #00746b;
  border: 1px solid #006d64;
  border-top-color: #288a82;
  color: #fff;
  cursor: default;
}

.filter_left_block {
  display: inline-block;
  vertical-align: middle;
  *vertical-align: auto;
  *zoom: 1;
  *display: inline;
  float: left;
  width: 350px;
}

.filter_right_block {
  display: inline-block;
  vertical-align: middle;
  *vertical-align: auto;
  *zoom: 1;
  *display: inline;
  float: right;
  width: 430px;
}

.filter_row {
  display: inline-block;
  vertical-align: middle;
  *vertical-align: auto;
  *zoom: 1;
  *display: inline;
  line-height: 26px;
  margin-bottom: 20px;
  font-size: 0;
  position: relative;
  width: 100%;
}
.search_extra_filter {
	font-size: 0;
}
.search_extra_filter .filter_row {
    width: 200px;
    margin: 25px 25px 0;
	font-size: 14px;
}
.search_extra_filter .filter_row .price_dragger {
	width: 180px;
}
.search_extra_filter .price_dragger.extra_dragger .ui-slider-handle {
	height: 28px;
	line-height: 28px;
	font-size: 14px;
	padding: 0 8px;
	top: -8px;
}
.search_extra_filter .price_dragger.extra_dragger .ui-slider-handle i {
    font-size: 10px;
    position: relative;
    vertical-align: top;
    margin: 0 -4px 0 -1px;
}
.search_extra_filter .filter_row.price_ajax_search {
	width: 100%;
    margin: 20px 0 0 0;
    padding: 0 25px;
    box-sizing: border-box;
}
.search_extra_filter .filter_row.price_ajax_search input[type=text],
.search_extra_filter .filter_row.price_ajax_search input[type=password] {
	width: 80px;
    padding-right:20px;
    height: 27px;
    line-height: 30px;
}
.search_extra_filter .filter_row.price_ajax_search .SlectBox {
	max-width: 75px;
    height: 17px;
    line-height: 17px;
}

.filter_row__inline .form_input {
  float: left;
  margin-left: 10px;
}

.filter_row__inline .form_input:first-child {
  margin-left: 0;
}

.filter_row__inline .form_input label {
  display: block;
  font-size: 12px;
}

.filter_row span {
  display: inline-block;
  vertical-align: top;
  *vertical-align: auto;
  *zoom: 1;
  *display: inline;
  font-size: 14px;
  text-align: left;
}

.filter_row label {
  font-size: 14px;
}

.filter_row #dateto {
  margin-left: 5px;
}

.filter_row .keywords {
  width: 335px;
}

.filter_row .with_photo + label {
  margin-left: 60px;
}

.filter_row .price_dragger {
  background-color: #fff;
  display: inline-block;
  vertical-align: middle;
  *vertical-align: auto;
  *zoom: 1;
  *display: inline;
  height: 14px;
  width: 280px;
  box-shadow: inset 0 2px 5px 0px #b9b9b9;
  border-radius: 3px;
  margin: 0 0 0 9px;
}
.search_extra_filter .filter_row .price_dragger {
	margin: 0;
}
.filter_row .price_dragger .ui-slider-range.ui-widget-header.ui-corner-all {
  top: 2px;
  height: 10px;
}
.filter_row .price_dragger .ui-slider-handle {
  top: -2px;
  width: 16px;
  height: 16px;
  z-index: 1;
}

.filter_row .price {
  width: 128px;
  margin-top: 5px;
}

.search_extra_filter .filter_row .price_text {
    width: 100%;
	margin: 0 0 5px;
}

.filter_row .price_separator {
  margin-top: 5px;
  padding: 0 12px;
}

.filter_row .min_price {
  margin-left: 40px;
}

.filter_row .date_text {
  display: block;
  padding-bottom: 5px;
}

.filter_row .date {
  width: 110px;
  display: inline-block;
  vertical-align: middle;
  *vertical-align: auto;
  *zoom: 1;
  *display: inline;
}

.filter_row select {
  display: inline-block;
  vertical-align: middle;
  *vertical-align: auto;
  *zoom: 1;
  *display: inline;
  margin-bottom: 5px;
  line-height: 20px;
}

.filter_row .subject {
  float: left;
  width: 205px;
}

.filter_row .city {
  float: right;
  width: 205px;
}

.filter_row .district {
  float: right;
  width: 205px;
}

.filter_row .rooms_num,
.filter_row .obj_type,
.filter_row .floor,
.filter_row .building_type {
  float: left;
  margin-right: 6px;
  width: 116px;
}

.filter_row .space_from,
.filter_row .space_to {
  float: right;
  width: 186px;
}

/* styles for price slider */
.ui-widget-header {
  background: #00746b !important;
}

.ui-state-default {
  border: 1px solid #00746b !important;
  background: #fff !important;
}

.entries_found {
  font-size: 20px;
  font-weight: bold;
  margin-left: 20px;
}

.search_results {
  margin-bottom: 50px;
}

.search_results_menu {
  line-height: 60px;
}

.search_results_menu .sorting {
  display: inline-block;
  vertical-align: middle;
  *vertical-align: auto;
  *zoom: 1;
  *display: inline;
  margin-left: 20px;
}

.search_results_menu .sorting select {
  padding: 4px;
}

.entry {
  border-bottom: 1px dotted #000;
  min-height: 150px;
  padding: 10px 0;
  position: relative;
  width: 820px;
  overflow: hidden;
}

.entry.entry_list {
  font-size: 0;
  letter-spacing: 0;
}

.entry.entry_list:hover {
  background: rgba(122, 204, 200, 0.21);
}

.line_status {
  position: absolute;
  width: 5px;
  top: 0;
  bottom: 0;
  left: 23.7%;
  margin-left: 5px;
}

.entry_list__item {
  display: inline-block;
  *display: inline;
  vertical-align: top;
  font-size: 14px;
  *zoom: 1;
}

.entry_list__item .info_contact .calendar_ico {
  position: relative;
  left: -10px;
}

.danger {
  color: #f00;
}

.entry_block_info,
.entry_block_panel,
.entry_block_status,
.entry_block_description {
  width: 23.7%;
  padding-left: 1.3%;
}

.entry_block_info {
  text-align: center;
}

.entry_list__item > * {
  margin-bottom: 5px;
}

.entry_list__item .entry_buttons_object {
  margin-right: 10px;
  text-align: right;
}

.entry_list__item .head {
  margin-bottom: 10px;
  font-weight: bold;
  font-size: 16px;
}

.entry_list__item .date,
.entry_list__item .time {
  font-size: 16px;
}

.entry_client_link {
  display: inline-block;
  *display: inline;
  font-size: 18px;
  *zoom: 1;
}

.entry_link__status {
  border-bottom: 1px dashed;
  text-decoration: none;
  outline: none;
  outline-width: 0;
}

.entry_item__price {
  font-weight: bold;
}

.entry_item__inf {
  display: inline-block;
  *display: inline;
  width: 170px;
  margin: 1px 0 10px;
  vertical-align: middle;
  font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;
  *zoom: 1;
}

.entry_item__founder {
  padding-bottom: 3px;
  color: #888;
  font-size: 12px;
  font-style: italic;
}

.entry .avito_ico {
  position: absolute;
  right: 20px;
  top: 20px;
}

.recent_entry {
  background-color: #cafffc;
}

.old_entry .entry_date {
  color: #c2c2c2;
}

.entry_date {
  float: left;
  width: 80px;
}

.entry_day, .entry_time {
  text-align: right;
}

.entry_thumb {
  float: left;
  margin-left: 30px;
  width: 125px;
}

.entry_img {
  width: 100%;
  height: 100px;
}

.entry_agent {
  font-weight: bold;
  font-size: 16px;
  margin: 5px 0;
}

.entry_description {
  position: relative;
  float: left;
  margin-left: 30px;
  padding-top: 10px;
  width: 540px;
}

.entry_header {
  font-size: 16px;
  font-weight: bold;
}

.entry_text {
  position: relative;
  height: 50px;
  overflow: hidden;
  width: 460px;
}
.entry_text .after {
  display: inline-block;
  position: absolute;
  bottom: 0;
  right: 0;
  width: 100%;
  height: 30px;
}

.firefox_text {
  white-space: nowrap;
  text-overflow: ellipsis;
}

.entry_price {
  position: absolute;
  left: 265px;
  bottom: 20px;
  color: #000;
  font-weight: bold;
  font-size: 18px;
}

.entry_buttons {
  bottom: 20px;
  position: absolute;
  right: 20px;
  width: 37px;
}
.entry_buttons .btn_delete {
  color: red;
  line-height: 28px;
  font-size: 30px;
  text-decoration: none;
}
.entry_buttons mark {
  display: inline-block;
  vertical-align: top;
  *vertical-align: auto;
  *zoom: 1;
  *display: inline;
  width: 100%;
  text-align: center;
}

.add_to_fav {
  position: relative;
  top: 70px;
}

.company_logo {
  display: block;
  margin: 0 auto;
}

.main {
  position: relative;
  height: 80%;
}

.login_form {
  margin: 0 auto;
  position: relative;
  top: 35%;
  width: 350px;
}

.login_form_header {
  display: block;
  font-weight: bold;
  font-size: 20px;
  margin-left: 90px;
  margin-bottom: 30px;
}

.login_form_row {
  font-size: 0px;
  height: 35px;
  position: relative;
  text-align: center;
}

.login_form_text {
  display: inline-block;
  vertical-align: middle;
  *vertical-align: auto;
  *zoom: 1;
  *display: inline;
  font-size: 14px;
  font-weight: bold;
  margin-right: 20px;
  text-align: right;
  width: 60px;
}

.login_form_remember .login_form_label:before {
  height: 17px;
}

.login_form_input {
  width: 250px;
}

.login_form_label {
  font-size: 12px;
}

.login_form_remember {
  float: left;
  margin: 7px 0 0 90px;
}

.login_form_link {
  border-bottom: 1px dotted;
  float: right;
  font-size: 12px;
  font-style: italic;
  margin-top: 7px;
  margin-right: 10px;
  text-decoration: none;
}

.input_with_error {
  display: inline-block;
  vertical-align: middle;
  *vertical-align: auto;
  *zoom: 1;
  *display: inline;
  position: relative;
}

.input_error {
  background-color: #fff;
  color: red;
  font-size: 10px;
  font-style: italic;
  left: 8px;
  line-height: 14px !important;
  padding: 0 3px;
  position: absolute;
  top: -5px;
}

.data-table td {
  padding: 8px;
}

.agent_contacts {
  float: left;
  font-weight: bold;
  margin-left: 20px;
  max-width: 170px;
  width: 170px;
  overflow: hidden;
}
.agent_contacts .agent_name,
.agent_contacts .agent_phone,
.agent_contacts .agent_email {
  width: 170px;
}
.agent_contacts .agent_name,
.agent_contacts .agent_phone {
  margin-bottom: 15px;
}

.agent_description {
  float: left;
  margin-left: 5px;
  width: 240px;
}
.agent_description p {
  margin: 0;
}

.agent_header_name {
  font-size: 20px;
  margin-bottom: 20px;
  margin-left: 20px;
}

.agent_img {
  float: left;
  margin-left: 20px;
  width: 60px;
}

.agent_join_date {
  float: right;
  margin-left: 30px;
  width: 100px;
}

.agent_links {
  float: left;
  margin-left: 5px;
  margin-top: -10px;
  width: 170px;
  font-weight: bold;
}
.agent_links a {
  line-height: 40px;
  margin-left: 5px;
}
.agent_links span {
  line-height: 40px;
  margin-left: 5px;
}

.agent_search_card {
  border-top: 1px dotted #000;
  height: 170px;
  padding-top: 20px;
}

.client_search {
  line-height: 40px;
  padding: 20px;
  margin-bottom: 30px;
}
.client_search input[type=text] {
  width: 610px;
}

.client_card, .client_search_card {
  border-top: 1px dotted #000;
  min-height: 130px;
  padding: 20px;
  position: relative;
}

.client_card .btn_edit {
  position: absolute;
  right: 24px;
  top: 100px;
}

.client_search_card .btn_edit {
  position: absolute;
  right: 0px;
  top: 70px;
}

.client_contacts {
  display: inline-block;
  vertical-align: middle;
  *vertical-align: auto;
  *zoom: 1;
  *display: inline;
  font-weight: bold;
  line-height: 26px;
  vertical-align: top;
  width: 170px;
}
.client_contacts .client_name {
  display: inline-block;
  vertical-align: middle;
  *vertical-align: auto;
  *zoom: 1;
  *display: inline;
  line-height: 1.2em;
}

.client_links {
  display: inline-block;
  vertical-align: middle;
  *vertical-align: auto;
  *zoom: 1;
  *display: inline;
  margin-left: 20px;
  margin-top: 20px;
  vertical-align: top;
  //width: 535px;
}
.client_links .client_ads {
  margin-bottom: 10px;
}
.client_links .client_ads .client_ads_link {
  display: inline-block;
  vertical-align: middle;
  *vertical-align: auto;
  *zoom: 1;
  *display: inline;
  font-weight: bold;
  width: 130px;
}
.client_links .client_objects_link {
  display: inline-block;
  vertical-align: middle;
  *vertical-align: auto;
  *zoom: 1;
  *display: inline;
  font-weight: bold;
  width: 130px;
}

.client_join_date {
  display: inline-block;
  vertical-align: middle;
  *vertical-align: auto;
  *zoom: 1;
  *display: inline;
  margin-right: -30px;
  vertical-align: top;
  width: 100px;
    
  float: right;
}

.client_description {
  margin-top: 10px;
  margin-left: 160px;
  width: 460px;
}

.client_search_card .client_links {
  width: 170px;
}
.client_search_card .client_description {
  display: inline-block;
  vertical-align: middle;
  *vertical-align: auto;
  *zoom: 1;
  *display: inline;
  margin-left: 0px;
  //width: 330px;
  width: 160px;
}

.input_client {
  margin-right: 10px;
  width: 320px;
}

.main_photo_span, .extra_photo_span {
  line-height: 40px !important;
}

.extra_photo {
  margin-left: 305px;
  list-style: none;
  font-size: 0;
  letter-spacing: 0;
}
.extra_photo .extra_photo_thumb {
  display: inline-block;
  vertical-align: top;
  *vertical-align: auto;
  *zoom: 1;
  *display: inline;
  margin-right: 10px;
  position: relative;
  width: 100px;
  margin-bottom: 10px;
}

.main_photo {
  margin-left: 345px;
}

.main_photo_thumb {
  position: relative;
  width: 150px;
}

.main_photo_name {
  font-size: 10px;
}

.extra_photo_name {
  font-size: 10px;
  width: 90px;
  word-wrap: break-word;
}

.photo_remove {
  background: url("../img/photo_remove.png") 0 0 no-repeat transparent;
  height: 20px;
  position: absolute;
  right: 3px;
  top: 3px;
  width: 20px;
	cursor: pointer;
}

mark {
  background: transparent;
}

.starrequired {
  color: red;
}

.content_header {
  font-size: 20px;
  font-weight: bold;
  line-height: 60px;
  margin-left: 20px;
}

.content select {
  width: 240px;
}

.content textarea {
  margin-top: 4px;
  padding: 4px 0px 4px 4px;
}

.content .offer_type {
  width: 120px;
}

.content_row {
  margin-bottom: 10px;
}

.form_row {
  position: relative;
  margin-bottom: 14px;
}
.form_row label {
  display: inline-block;
  text-align: right;
  font-weight: bold;
  vertical-align: top;
  line-height: 26px;
  margin-right: 10px;
}
.form_row > label:first-child {
  width: 330px;
}
.form_row span {
  font-weight: bold;
}
.form_row .avito_preview {
  margin-left: 345px;
  font-weight: bold;
  text-transform: uppercase;
}

.inrow_label {
  display: inline !important;
  font-weight: normal !important;
  line-height: 26px;
}

.inrow_block {
  display: inline-block;
}
.inrow_block input[type=checkbox] + label::before {
  margin-top: 5px;
}
.inrow_block input[type=radio] {
  margin-top: 5px;
}

.content_row_left {
  font-size: 14px;
  display: inline-block;
  vertical-align: middle;
  *vertical-align: auto;
  *zoom: 1;
  *display: inline;
  text-align: right;
  vertical-align: top;
  width: 40%;
}
.content_row_left span {
  font-weight: bold;
  line-height: 24px;
  margin-right: 10px;
}

.content_row_right {
  display: inline-block;
  vertical-align: middle;
  *vertical-align: auto;
  *zoom: 1;
  *display: inline;
  font-size: 14px;
  width: 60%;
}
.content_row_right .fwb {
  font-weight: bold;
}
.content_row_right .fr {
  float: right;
  margin-right: 20px;
}
.content_row_right span {
  line-height: 24px;
}
.content_row_right a {
  font-weight: bold;
  text-transform: uppercase;
}

.inrow_span {
  display: inline-block;
  vertical-align: middle;
  *vertical-align: auto;
  *zoom: 1;
  *display: inline;
  margin: 0 !important;
  text-align: right;
  width: 88px !important;
}

.content_input_tiny {
  text-align: center;
  text-indent: 0px !important;
  width: 50px;
}

.content .content_input_small {
  text-align: center;
  text-indent: 0px !important;
  width: 70px;
}
.content .content_input_small#iDistanceToCity {
  text-align: left;
}

.content_input_medium {
  width: 150px;
}

.content_input_long {
  width: 300px;
}

.content .price {
  width: 105px;
}

.content .price_text {
  margin-right: 14px;
}

.content .price_separator {
  padding: 0 9px;
}

.content .label_wrap {
  height: 26px;
  margin-top: 4px;
}

.content .person {
  margin-top: 4px;
}

.content_pane_wrapper {
  background-color: #cdcdcd;
  margin-top: 20px;
  margin-bottom: 20px;
}

.content_pane {
  font-size: 0px;
  padding: 20px;
}
.content_pane:after {
  content: "";
  min-height: 1px;
  display: block;
  width: 100%;
  clear: both;
}

.content_pane_header {
  font-size: 20px;
  font-weight: bold;
  margin-bottom: 10px;
}

.content_pane_ur_corner {
  float: right;
}

.content_pane_left {
  position: relative;
  display: inline-block;
  vertical-align: middle;
  *vertical-align: auto;
  *zoom: 1;
  *display: inline;
  float: left;
  font-size: 14px;
  vertical-align: top;
  width: 50%;
}
.content_pane_left .cboxElement {
  display: block;
  height: 290px;
  max-width: 380px;
  font-size: 0;
  text-align: center;
}

.content_pane_image {
  position: relative;
  max-height: 290px;
  width: 100%;
  height: auto;
  border-radius: 3px;
}
.content_pane_image.vertical {
  height: 100%;
  width: auto;
}

.float_right {
  float: right !important;
}

.content_pane_right {
  display: inline-block;
  vertical-align: middle;
  *vertical-align: auto;
  *zoom: 1;
  *display: inline;
  font-size: 14px;
  vertical-align: top;
  width: 50%;
}
.content_pane_right ul {
  list-style: none;
  margin: 0px 0px 0px 10px;
  padding: 0;
}

.content_pane_row {
  margin-bottom: 15px;
}
.content_pane_row p {
  margin-top: 40px;
  width: 300px;
}

.content_pane_image_selector .arrow_up {
  background: url(../img/arrow_up.png) 182px 3px no-repeat;
  height: 12px;
  margin-top: 5px;
  width: 380px;
}
.content_pane_image_selector .arrow_down {
  background: url(../img/arrow_down.png) 182px 3px no-repeat;
  height: 12px;
  margin: 5px 0px;
  width: 380px;
}
.content_pane_image_selector .arrow_bg {
  background-color: #e6e6e6;
}
.content_pane_image_selector .image_grid {
  font-size: 0px;
  max-height: 200px;
  overflow: hidden;
}
.content_pane_image_selector .image_grid .image_grid_thumb {
  max-height: 60px;
  margin-right: 5px;
  margin-top: 5px;
  max-width: 90px;
  width: 100%;
  border-radius: 3px;
}

.content_pane_footer {
  margin-top: 30px;
}

.content_footer {
  padding: 20px;
  font-size: 0px;
  border-top: 1px dotted #000;
}

.content_footer_column {
  display: inline-block;
  vertical-align: top;
  *vertical-align: auto;
  *zoom: 1;
  *display: inline;
  font-size: 14px;
  width: 50%;
}
.content_footer_column .delete_form {
  width: 100%;
}
.content_footer_column .delete_form .form_row:first-child {
  margin-bottom: 0;
}
.content_footer_column .delete_form .form_row_btn {
  margin-bottom: 0;
}
.content_footer_column .delete_form .form_row_btn input {
  margin-right: 10px;
}
.content_footer_column .content_footer_row .row_head {
  display: inline-block;
  vertical-align: middle;
  *vertical-align: auto;
  *zoom: 1;
  *display: inline;
  font-weight: bold;
  margin-right: 10px;
  vertical-align: top;
}
.content_footer_column .content_footer_row .row_content {
  display: inline-block;
  vertical-align: middle;
  *vertical-align: auto;
  *zoom: 1;
  *display: inline;
  vertical-align: top;
}
.content_footer_column .content_footer_row .row_content .extra_buttons {
  margin-bottom: 10px;
}
.content_footer_column .content_footer_row .row_content .extra_buttons .btn_delete {
  color: red;
  line-height: 28px;
  font-size: 30px;
  text-decoration: none;
}
.content_footer_column .content_footer_row .row_content .extra_buttons mark {
  display: inline-block;
  vertical-align: top;
}
.content_footer_column .content_footer_row .row_content .agent_contacts {
  font-weight: normal;
}
.content_footer_column .content_footer_row .row_content .agent_contacts .agent_name {
  margin-bottom: 5px;
}
.content_footer_column .content_footer_row .row_content .agent_contacts .agent_phone {
  margin-bottom: 5px;
}
.content_footer_column .content_footer_row .row_content .ad_links a {
  display: block;
  line-height: 20px;
}
.content_footer_column .content_footer_row .row_content .ad_links_grayed {
  color: #a9a9a9;
}
.content_footer_column .content_footer_row .row_content .ad_links_grayed a {
  color: #a9a9a9;
}

.search_menu {
  line-height: 60px;
}

.search_menu .sorting {
  display: inline-block;
  vertical-align: middle;
  *vertical-align: auto;
  *zoom: 1;
  *display: inline;
  margin-left: 10px;
}

.search_menu .button {
  position: relative;
  top: 10px;
  float: right;
}

.search_menu .sorting select {
  display: inline-block;
  vertical-align: middle;
  *vertical-align: auto;
  *zoom: 1;
  *display: inline;
  width: 210px;
  line-height: 20px;
}
@media screen and (-webkit-min-device-pixel-ratio: 0) {
  .search_menu .sorting select {
    padding-right: 20px;
  }
}
.search_menu .sorting select.short {
  width: 60px;
}
.search_menu .sorting select.long {
  width: 350px;
}
.search_menu .sorting select.typeselect {
  font-size: 12px;
}

input,
select,
textarea {
  outline: none;
}

.page_wrapper select {
  height: 26px;
  text-indent: 4px;
  text-overflow: '';
  -moz-appearance: none;
  -webkit-appearance: none;
}

.filter select {
  color: gray;
  width: 100%;
}

select > option {
  color: #000;
}

.form_select {
  display: inline-block;
  vertical-align: middle;
  *vertical-align: auto;
  *zoom: 1;
  *display: inline;
  position: relative;
  box-sizing: border-box;
  padding-right: 10px;
}

.filter .form_select {
  width: 50%;
}

.filter .form_select:after {
  background: url(../img/arrow_select.png) 0 0 no-repeat;
  content: '';
  display: inline-block;
  vertical-align: middle;
  *vertical-align: auto;
  *zoom: 1;
  *display: inline;
  height: 6px;
  margin-top: -6px;
  pointer-events: none;
  position: absolute;
  right: 18px;
  top: 50%;
  width: 12px;
}

.form_select:after {
  background: url(../img/arrow_select.png) 0 0 no-repeat;
  content: '';
  display: inline-block;
  vertical-align: middle;
  *vertical-align: auto;
  *zoom: 1;
  *display: inline;
  height: 6px;
  margin-top: -3px;
  pointer-events: none;
  position: absolute;
  right: 18px;
  top: 50%;
  width: 12px;
}

.bx-ie .form_select:after {
  display: none;
}

input[type=text],
input[type=password] {
  height: 24px;
  padding: 0;
  text-indent: 8px;
}

input[type=text],
input[type=password],
select,
textarea {
  border: 1px solid #898989;
  border-radius: 3px;
  font-size: 14px;
}

input[type=text]:focus,
input[type=password]:focus,
select:focus,
textarea:focus {
  border-color: #00746b;
}

input[type=checkbox] {
  vertical-align: middle;
}

/*смена после наката эксперта

.borderradius input[type=checkbox],
.bx-borderradius input[type=checkbox] {
  display: none;
}
*/

.content-show input[type=checkbox] {
  display: none;
}

input[type=checkbox] + label {
  cursor: pointer;
}

input[type=checkbox] + label::before {
  content: "";
  display: inline-block;
  vertical-align: middle;
  *vertical-align: auto;
  *zoom: 1;
  *display: inline;
  height: 14px;
  width: 14px;
  margin: 0 5px 4px 0;
  background-image: url(../img/checkbox_unchecked.png);
  background-repeat: no-repeat;
}

input[type=checkbox]:checked + label::before {
  background-image: url(../img/checkbox_checked.png);
}

#fileprev img {
  width: 150px;
  height: 113px;
}

.area_remove {
  background: url("../img/photo_remove.png") no-repeat scroll 0 0 transparent;
  height: 20px;
  position: absolute;
  right: 3px;
  top: 3px;
  width: 20px;
}

#fileprev div {
  position: relative;
  width: 150px;
}

#fileprev {
  margin-left: 345px;
}

a {
  color: #00746b;
}
a:hover {
  color: #3b9c97;
}
a:active {
  color: #00746b;
}

html {
  height: 100%;
}

body {
  color: #434343;
  font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
  font-size: 14px;
  height: 100%;
  margin: 0;
}

.content {
  //margin-bottom: 50px;
}

.browsehappy {
  background-color: #bcbcbc;
  height: 40px;
  line-height: 40px;
  margin: 0;
  text-align: center;
}

.page_wrapper {
  height: 100%;
}

.half_opacity {
  filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=50);
  opacity: 0.5;
}

.hidden {
  display: none;
}

.clearfix:after, .entry:after {
  visibility: hidden;
  display: block;
  font-size: 0;
  content: " ";
  clear: both;
  height: 0;
}

@media print {
  header,
  .filter_wrapper,
  .content > font.text,
  #bx-panel,
  #bx-panel div {
    display: none !important;
  }
}

.delete_form_list {
  position: absolute;
  right: 0;
  top: -60px;
}

.emptyblock {
  opacity: 0;
  visibility: hidden;
}

.filter_bottom {
  position: relative;
}

.list_with_empty_block {
  position: relative;
  top: -31px;
}

.rooms, .roomslist {
  position: relative;
  z-index: 2;
}


/*******/

.client_search_card {
	//overflow: hidden;
}

.client_search_card input[type=checkbox] + label::before {
  content: "";
  position: absolute;
  left: 0;
  top: 28px;
  height: 14px;
  width: 14px;
  margin: 0;
  background-image: url(../img/checkbox_unchecked.png);
  background-repeat: no-repeat;
}
.client_search_card  input[type=checkbox]:checked + label::before {
  background-image: url(../img/checkbox_checked.png);
}

.button-card-client {
	float: right;
	margin: 5px 0 0 0;
}
.button-card-client .button {
	display: block;
	width: 200px;
	text-align: center;
	margin: 0 0 10px 0;
}

.sort-client {
	padding: 20px;
	background: #cdcdcd;
	overflow: hidden;
	margin: 0 0 20px 0;
}
.sort-client label {
	color: #434343;
	font-weight: bold;
	margin: 15px 0 0 0;
	display: inline-block;
}
.sort-client .button-card-client {
	margin: 0;
}
.sort-client .button-card-client .button {
	float: right;
	margin: 0 0 0 20px;
	width: 200px;
}

.popup-client {
	width: 775px;
	padding: 0;
	background: #7accc8;
	border: 1px solid #00746b;
	border-radius: 4px;
}

.popup-client .warning {
	background: #fff;
	padding: 10px 80px;
	margin: 40px 0 0 0;
}
.popup-client .warning span {
	color: #bd2121;
	font-weight: bold;
	margin: 0 70px 0 100px;
	display: inline-block;
}
.popup-client .warning span img {
	position: absolute;
	top: 15px;
	left: 80px;
}
.popup-client .warning p {
	display: inline-block;
	margin: 0;
}

.popup-client .form {
	margin: 40px 0 0 0;
	background: #fff;
	padding: 30px 80px;
}
.popup-client .form  .col {
	display: inline-block;
	vertical-align: top;
	margin: 0 0 0 40px;
}
.popup-client .form  .col:first-child {
	margin: 0;
}
.popup-client .form  .col.wide {
	width: 100%;
	margin: 30px 0 0;
}
.popup-client .form  .col span {
	font-weight: bold;
}
.popup-client .form  .col p {
	max-width: 110px;
	display: inline-block;
	vertical-align: top;
	margin: 0 0 0 10px;
}
.popup-client .form label {
	display: block;
	font-weight: bold;
	margin: 0 0 10px 0;
}
.popup-client .form select {
	width: 400px;
	border: 1px solid #00746b;
}
.popup-client .form .form_select:after {
	background: url(../img/arrow_select_green.png) 0 0 no-repeat;
}

.popup-client .form .button {
	width: 320px;
	text-align: center;
}
.popup-client .form .button.disable {
	width: 190px;
	/*background: #bebebe;*/
	/*color: #00746b;*/
	float: right;
	line-height: 40px;
	text-decoration: none;
	padding: 0 20px;
	/*cursor: default;*/
	font-size: 14px;
	font-weight: bold;
	height: 40px;
	/*border: 1px solid #cccccc;*/
	-webkit-box-shadow: 2px 2px 1px 0px #959595;
	-moz-box-shadow: 2px 2px 1px 0px #959595;
	box-shadow: 2px 2px 1px 0px #959595;
}

.entry_thumb {
	position: relative;
}
.ad-green .entry_thumb:after {
	content: "";
	position: absolute;
	right: -10px;
	top: -10px;
	height: 120%;
	display: block;
	width: 3px;
	background: #88ff88;
}
.ad-red .entry_thumb:after {
	content: "";
	position: absolute;
	right: -10px;
	top: -10px;
	height: 120%;
	display: block;
	width: 3px;
	background: #ffcccc;
}
.ad-blue .entry_thumb:after {
	content: "";
	position: absolute;
	right: -10px;
	top: -10px;
	height: 120%;
	display: block;
	width: 3px;
	background: #44ccff;
}

.with_reassign .filter_menu_item {
	width: 25%;
}

.second-preloader {
	background: #000 url(images/loading.gif) no-repeat center center;
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	z-index: 99;
	opacity: 0.7;
}
.active_filters_cancel form {
  display: inline-block;
}

.active_filters_cancel .cross_button {
  border: 0;
  background: transparent;
  padding: 0 0 0 3px;
  color: #00746b;
}

.active_filters_cancel .cross_button:hover {
  color: #3b9c97;
}

.active_filters_header {
  font-size: 15px;
  padding-bottom: 5px;
}

.entry_block_description .object_status {
  margin-top: -6px;
}

.object_status > div {
  font-size: 12px;
  font-style: italic;
}

.yellow {
  color: #FC6;
}

.create_ads.object {
	margin: -55px 0 0 0;
}
.create_ads {
	font-size: 14px;
	width: 193px;
	float: right;
	margin: 10px 0 0 0;
}

.create_ads ul {	
	list-style: none;	
	padding: 0;
	margin: 0;
}
.create_ads ul li {
	width: 190px;
	display: inline-block;
	margin: 0 0 15px 0;
	position: relative;
}
.create_ads ul li.min-item {
	width: auto;
}
.create_ads ul li a {
	outline: none;
}
.create_ads ul li span {
	display: inline-block;
	vertical-align: middle;
}
.create_ads ul li .count {
	border-radius: 50%;
	border: 1px solid #7accc8;
	width: 13px;
	height: 13px;
	padding: 0;
	line-height: 13px;
	font-size: 10px;
	position: absolute;
	top: -5px;
	right: -5px;
	background: #fff;
	text-align: center;
}
.create_ads ul li .img {
	width: 40px;
	text-align: center;
}
.create_ads ul li .text {
	margin: 0 0 0 10px;
}
.create_ads ul li .black {
	color: #282828;
}

.popup_ad .slider{
	width: 640px;
	height: 520px;	
}
.popup_ad h2 {
	color: #434343;
	font-weight: bold;
	font-size: 20px;
	margin: 0 0 20px;
	display: block;
}

.flexslider .flex-caption {
	position: absolute;
	bottom: -20px;
	left: 260px;
	font-size: 10px;
	font-family: 'Arial';
}
.popup {
    background: #cdcdcd;
    padding: 20px 40px;
}
.popup_comment {
	font-size: 12px;
	font-family: 'Arial';
	min-width: 465px;
}
.popup_comment h2 {
	font-size: 20px;
}
.popup_comment .row {
	margin: 0 0 15px;
}
.popup_comment .row .red {
	margin: 0;
	float: none;
}
.popup_comment label {
	display: block;
	margin: 0 0 10px;
  font-size: 12px;
	color: #282828;
}
.popup_comment textarea {
	width: 460px;
	height: 180px;
	max-width: 460px;
	max-height: 180px;
	display: block;
	border: 0;
	border-radius: 0;
}
.popup_comment input[type="radio"] {
	display: none;
}
.popup_comment ul {
	margin: 0 0 0 -20px;
	padding: 0;
	list-style: none;
}
.popup_comment ul li {
	display: inline-block;
	width: 180px;
	margin: 0 0 0 60px;
	vertical-align: top;
}
.popup_comment ul li label {
	position: relative;
	cursor: pointer;
}
.popup_comment ul li label:before {
	content: "";
	position: absolute;
	left: -25px;
	top: -2px;
	width: 14px;
	height: 14px;
	border-radius: 50%;
	background: url(../img/radiobutton.png);
}
.popup_comment input[type="radio"]:checked + label:before {
	background: url(../img/radiobutton_check.png);
}
.popup_comment .success {
	text-align: center;
	font-size: 14px;
	color: #434343;
	margin: 40px 0;
}
.popup_comment .download {
	position: relative;
	display: inline-block;
	vertical-align: top;
	margin: 0 0 20px 20px;
}
.popup_comment .download:before {
	content: "";
	position: absolute;
	left: 15px;
	top: 33px;
	width: 25px;
	height: 25px;
	background: url(../img/plus.png);
	z-index: 99;
}
.popup_comment .button {
	padding: 0 30px;
	max-width: 300px;
	box-sizing: border-box;
	line-height: 40px;
	min-height: 40px;
	height: auto;
	text-align: center;
	width: 380px;
}
.popup_comment .button.length {
	line-height: 20px;
}
.popup_comment .download_btn {
	width: 140px;
	height: 100px;
	background: #efeeee;
	color: #7accc8;
	line-height: 20px;
	white-space: normal;
	padding: 0 0 0 50px;
	text-align: left;
	font-family: 'Myriad Pro', sans-serif;	
}
.popup_comment .button.gray {
	float: right;
	margin: 0 3px 0 0;
	line-height: 40px;
	width: 220px;
}

.entry_buttons_object ul {
	margin: 0 0 0 -5px;
}
.entry_buttons_object ul li {
	margin: 0 0 15px 5px;
}

.object_preview_list-wrap {
	width: 650px;
	height: 410px;
}
.object_preview_list {
	margin: 20px 0 0 -20px;
}
.object_preview_list .preview_canvas {
	width: 135px;
	display: inline-block;
	vertical-align: top;
	position: relative;
	margin: 0 0 20px 20px;	
}
.object_preview_list .preview_canvas .img {
	height: 100px;
	width: 100%;
	margin: 0 0 10px;
	display: inline-block;
}
.object_preview_list .preview_canvas span {
	margin: 0 0 10px;
	display: block;
}

.popup-window input[type=text] {
	border: 0;
	height: 20px;
}
.popup-window input[type=checkbox] {
	display: inline-block;
}
.popup-window input[type=checkbox] + label:before {
	display: none;
}
.popup-window select {
	text-indent: 0;
	display:-webkit-box;
	-webkit-appearance: default-button;
}

/*operator section*/
.ajax_next_block{
    display:none;
}
.filter_tabs_block h3{
    cursor: pointer;
    text-decoration: underline;
    float: left;
    width: 45%;
    text-align: center;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    user-select: none; 
}
.tabs_head_block:before,
.tabs_head_block:after {
    content: " ";
    display: table;
}

.tabs_head_block:after {
    clear: both;
}


.tabs_head_block {
    *zoom: 1;
}
.filter_tabs_block .tabs{
    position: relative;
}
.filter_tabs_block .tabs{
    display:none;
}
.filter_tabs_block .active{
    cursor: default;
    text-decoration: none;
}
.filter_tabs_block .tabs.visible{
    display:block;
}
.ajax_result_block{
    position:relative;
    width: 100%;
    min-height: 400px;
    margin-bottom: 25px;
}
.current_ajax_list .result_row{
    border-bottom: 1px dashed black;
    padding: 5px;
    min-height: 180px;
}
.block_status{
    float:left;
}

.needs_info-wrap .button.button_universal {
    font-size: 12px;
    height: 20px;
    line-height: 20px;
    text-transform: none;
}

.needs_info-l {
    display: inline-block;
}

.needs_info-r {
    display: inline-block;
    padding-left: 40px;
}

.needs_info-r .needs_info {
    text-align: right;
}

.agent-wrap {
    margin-bottom: 10px;
}

.agent .image {
    display: inline-block;
    vertical-align: top;
}

.agent .agent-info {
    display: inline-block;
    margin-left: 2px;
}

.status-date, .status-time, .status-duration {
    display: block;
}

.status-duration {
    color: #999999;
    font-size: 13px;
}

.status-date, .status-time {
    text-align: left;
    font-size: 13px;
    padding-left: 50px;
}
.status-date {
	position: relative;
}
.status-date:before {
	content:'';
	width: 32px;
	height: 27px;
	position: absolute;
    left: 10px;
	top: 0;
}
.get_call.status-date:before {
	background: url(../img/get_call.png) no-repeat;
}
.deny_call.status-date:before {
	background: url(../img/deny_call.png) no-repeat;
}
.ignore_call.status-date:before {
	background: url(../img/ignore_call.png) no-repeat;
}

.call_result{
    width:20%;
    text-align: center;
    margin-top: 10px;
}
.call_result-info {
    background-color: #F2F2F2;
    padding-top: 10px;
    padding-bottom: 10px;
}
.call_info{
    width:45%;
    padding-left: 10px;
    margin-top: 10px;
}
.call_info .caller{
    margin-top:5px;
    margin-bottom:10px;
}
.call_info .info{
    position: relative;
    font-style: italic;
    max-height: 65px;
    overflow: hidden;
}
.call_info .edit_info{
    display:none;
    max-height: 110px
}
.edit_info textarea{
    width: 300px;
    height: 50px;
    resize: none;
}
.call_panel{
    width:33%;
}
.no_result_block{
    display:none;
}
.phone span{
    text-decoration:none;
    border-bottom: 1px dashed black;
    cursor:pointer;
    font-size: 16px;
}
.call_panel .image img{
    width:25px;
    height:25px;
    float:left;
}
.call_panel .agent{
    font-size:10px;
    padding: 5px;
}
.call_panel .agent .title_name{
    font-weight: 700;
}
.call_panel .agent .position {
    color: #999999;
}

.tabs_head_block {
    border-bottom: 1px solid;
    margin-bottom: 15px;
}

.tabs_head_block h3.active {
    border-left: 1px solid;
    border-top: 1px solid;
    border-right: 1px solid;
    border-top-left-radius: 15px;
    border-top-right-radius: 15px;
    border-bottom: 1px solid #fff;
    margin: 0;
    
    margin-top: 0px;
    margin-bottom: -1px;
    pointer-events: none;
}

.tabs_head_block h3 {
    margin: 0;
    padding: 15px 20px;
    font-weight: 400;
    font-size: 20px;
}

.input-wrap {
    position: relative;
    display: inline-block;
}

.del-input {
    font-size: 14px;
    border: 0;
    background: none;
    right: 0;
    position: absolute;
}

.call_date_wrap input + input {
    display: inline-block;
    margin-left: 5px;
}
.call_tab .filter_row, .need_tab .filter_row {
    width: auto;
}
.call_tab .filter_row + .filter_row, .need_tab .filter_row + .filter_row {
    margin-left: 20px;
}
.call_tab .filter_row label, .need_tab .filter_row label {
    margin-right: 10px;
}
.multi_agent{
    width:350px;
}
.ajax_filter{
    text-align: left;
    padding: 15px;
	background: #E7E6E6;
	margin: 0 0 20px;
}
.tabs.elements_tab  .ajax_filter{
    padding-bottom: 0;
}
.ajax_filter .filter_row_wrap {
	margin: 0 0 20px;
}
.filter_row_wrap.filter_footer{
    margin-top: 5px;
}
.del-input.select2-search-choice-close{
    top: 6px;
}
.preload {
    position: absolute;
    top: 0!important;
    left: 0!important;
    width: 100%;
    height: 100%;
    text-align: center;
    vertical-align: middle;
    background-color: rgba(0,0,0,.20);
    line-height: 1;
    -webkit-animation-fill-mode: both;
    animation-fill-mode: both;
    -webkit-animation-duration: .5s;
    animation-duration: .5s;
    -webkit-transition: background-color .5s linear;
    transition: background-color .5s linear;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    will-change: opacity;
    z-index: 1000;
}
.preload .text-loader {
    min-width: 2.2585em;
    padding-top: 2.97278571em;
    color: rgba(0, 0, 0, .9);
    position: absolute;
    top: 45px;
    left: 50%;
    margin: 0;
    text-align: center;
    z-index: 1000;
    -webkit-transform: translateX(-50%) translateY(-50%);
    -ms-transform: translateX(-50%) translateY(-50%);
    transform: translateX(-50%) translateY(-50%);
}
.preload .text-loader:after {
    border-color: #fff transparent transparent;
    width: 2.2585em;
    height: 2.2585em;
    margin: 0 0 0 -1.12925em;
    position: absolute;
    content: '';
    top: 0;
    left: 50%;
    -webkit-animation: loader .6s linear;
    animation: loader .6s linear;
    -webkit-animation-iteration-count: infinite;
    animation-iteration-count: infinite;
    border-radius: 500rem;
    border-color: #767676 transparent transparent;
    border-style: solid;
    border-width: .2em;
    box-shadow: 0 0 0 1px transparent;
}
.preload .text-loader:before {
    position: absolute;
    content: '';
    top: 0;
    left: 50%;
    border-radius: 500rem;
    border: .2em solid rgba(0,0,0,.1);
    width: 2.2585em;
    height: 2.2585em;
    margin: 0 0 0 -1.12925em;
    border-color: rgba(255,255,255,.15);
}
@-webkit-keyframes loader {
  from {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
  }

  to {
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}

@keyframes loader {
  from {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
  }

  to {
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}


.propose_button {
	text-align: center;
	width: 250px;
	float: right;    
	position: relative;   
}
.current_ajax_list .propose_button {
    text-align: right;
}
.current_ajax_list .propose_button a{
    margin-bottom: 10px
}
.propose_button p {
    font-size: 12px;
	margin: 5px 0 0 0;
}
.propose_button .propose {
	color: #fff;
    cursor: pointer;
	line-height: 20px;
    padding: 5px 20px;	
    font-size: 14px;
    font-weight: bold;
	background-color: #7accc8;
    border: 1px solid #7accc8;
    border-radius: 5px;
	display: block;
    -webkit-box-shadow: 2px 2px 1px 0px rgba(87,146,143,0.5);
    -moz-box-shadow: 2px 2px 1px 0px rgba(87,146,143,0.5);
    box-shadow: 2px 2px 1px 0px rgba(87,146,143,0.5);
}
.propose_button .propose:hover {
    background-color: #a5dfdd;
    border-color: #a5dfdd;
}
.propose_button.check {
	background: none;
	box-shadow: none;
    border: 0;
    height: auto;
}
.propose_button.check .propose_check {
	position: relative;
}
.propose_button.check .propose_check.shown {
	display:block;
}
.propose_button.check .propose_check:before {
    content: '';
    width: 26px;
    height: 27px;
    background: url(../img/check.png);
    position: absolute;
    right: 0;
    bottom: 0;
}
.propose_button .propose_check {
	display: none;
	text-decoration: none;
}

.search_ajax_list .propose_button .add_propose {
	text-decoration: none;
	color: #fff;
	margin: 10px 0 0;
    cursor: pointer;
	line-height: 20px;
    padding: 5px 20px;
    font-size: 14px;
    font-weight: bold;
	background-color: #7accc8;
    border: 1px solid #7accc8;
    border-radius: 5px;
	display: block;
    -webkit-box-shadow: 2px 2px 1px 0px rgba(87,146,143,0.5);
    -moz-box-shadow: 2px 2px 1px 0px rgba(87,146,143,0.5);
    box-shadow: 2px 2px 1px 0px rgba(87,146,143,0.5);
}
.propose_button .add_propose:hover {
    background-color: #a5dfdd;
    border-color: #a5dfdd;
}

/**************************************************/

.needs_detail .header_info .status_block  {
	display: inline-block;
	font-size: 20px;
}
.needs_detail .header_info .status_block span {
	color: #00746b;
}
.needs_detail .header_info .action_panel  {
	float: right;
	font-size: 20px;
}

.needs_detail .main_info {
	overflow: hidden;
	width: 100%;
	margin: 20px 0 0;
}
.needs_detail .main_info .left_column  {
	display: inline-block;
	width: 300px;
}
.needs_detail .main_info .right_column  {
	float: right;
	width: 300px;
}
.needs_detail .main_info .properties_list {
	padding: 0;
	margin: 0;
	list-style: none;
	font-size: 16px;
}
.needs_detail .main_info .properties_list li span {
	font-weight: bold;
}

.needs_detail .footer_info {
	margin: 40px 0 0 -20px;
	overflow: hidden;
}
.needs_detail .footer_info .client_list {
	width: 185px;
	display: inline-block;
	vertical-align: top;
	margin: 0 0 20px 20px;
}
.needs_detail .footer_info .client_info_wrap {
	float: right;
	width: 300px;
}
.needs_detail .footer_info .client_info_wrap .client_list {
	margin: 0 0 20px 0;
}
.needs_detail .footer_info .client_list h4 {
	margin: 0 0 10px;
}

.needs_detail .needs_variants .variant_element {
	margin: 0 0 20px;
	padding: 0 0 20px;
	border-bottom: 1px dotted #000;
    min-height: 130px;
}
.needs_detail .needs_variants .date_column, 
.needs_detail .needs_variants .price_column, 
.needs_detail .needs_variants .agent_column, 
.needs_detail .needs_variants .status_column {
	display: inline-block;
	vertical-align: top;
	max-width: 290px;
    margin: 0 0 0 20px;
}
.needs_detail .needs_variants .date_column {
	margin: 0;
    width: 290px;
}
.needs_detail .needs_variants .date_column .button {
	margin: 30px 7px 0;
}
.needs_detail .needs_variants .date_column label {
	display: block;
	position: absolute;
	margin: 5px 0 0 0;
}
.needs_detail .needs_variants .date_column .ads_time {
	width: 100px;
    display: inline-block;
}
.needs_detail .needs_variants .date_column .ads_time span {
	display: block;
}
.needs_detail .needs_variants .date_column .variant_name {
	width: 180px;
    display: inline-block;
	color: #00746b;
}
.needs_detail .needs_variants .date_column .variant_to_close {
	margin: 30px 0 0 0;
}
.needs_detail .needs_variants .agent_column {
	color: #00746b;
    width: 140px;
}
.needs_detail .needs_variants .status_column {
    width: 210px;
}
.needs_detail .needs_variants .agent_column .agent_position {
	font-size: 12px;
	color: #A1A1A1;
	margin: 0 0 5px;
}
.error_text {
	color: red;
}
.acception_block a.cancel_action{
    background: #bebebe none repeat scroll 0 0;
    border: 1px solid #bebebe;
    box-shadow: 1px 1px 1px 0 rgba(51, 18, 0, 0.5);
    color: #1d514d;
    cursor: pointer;
    display: inline-block;
    line-height: 40px;
    padding: 0 20px;
    text-decoration: none;
    vertical-align: top;
    width: auto;
}
/**************************************************/

