#roomslist {
    display: none;
}

.roomslist:after {
    content: none!important;
}

.roomslist {
    height: 31px;
}

.rooms {
	height: 31px;
}

#rooms {
    display: none;
}

.filter_row .district.hidden {
    height: 0;
}

#district {
	display: none;
}

.district:after {
    content: none!important;
}

.rooms:after {
    content: none!important;
}

.SlectBox {
    width: 183px;
    padding: 5px 10px;
    height: 14px;
    line-height: 15px
}

.SelectClass {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    height: 100%;
    width: 100%;
    border: none;
    z-index: 1;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
    filter: alpha(opacity=0);
    -moz-opacity: 0;
    -khtml-opacity: 0;
    opacity: 0
}

.SumoSelect>.optWrapper>.options>li label,
.SumoSelect>.CaptionCont {
    user-select: none;
    -o-user-select: none;
    -moz-user-select: none;
    -khtml-user-select: none;
    -webkit-user-select: none
}

.SumoSelect {
    display: inline-block;
	vertical-align: top;
    position: relative;
    outline: none
}

.SumoSelect:focus>.CaptionCont {
    border-color: #00746b
}

.SumoSelect>.CaptionCont {
    position: relative;
    border: 1px solid #898989;
    min-height: 14px;
    background-color: #fff;
    border-radius: 3px;
    margin: 0
}

.SumoSelect>.CaptionCont>span {
    display: block;
    padding-right: 30px;
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
    position: absolute;
    cursor: default;
    font-size: 14px;
    font-weight: 400
}

.SumoSelect>.CaptionCont>span.placeholder {
    color: gray;
    font-size: 14px
}

.SumoSelect>.CaptionCont>label {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    width: 30px
}

.SumoSelect>.CaptionCont>label>i {
    background-image: url('data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAA0AAAANCAYAAABy6+R8AAAACXBIWXMAAAsTAAALEwEAmpwYAAAAB3RJTUUH3wMdBhAJ/fwnjwAAAGFJREFUKM9jYBh+gBFKuzEwMKQwMDB8xaOWlYGB4T4DA0MrsuapDAwM//HgNwwMDDbYTJuGQ8MHBgYGJ1xOYGNgYJiBpuEpAwODHSF/siDZ+ISBgcGClEDqZ2Bg8B6CkQsAPRga0cpRtDEAAAAASUVORK5CYII=');
    background-position: center center;
    width: 16px;
    height: 16px;
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    margin: auto;
    background-repeat: no-repeat;
    opacity: .3
}

.SumoSelect>.optWrapper {
    top: 30px;
    width: 100%;
    position: absolute;
    left: 0;
    opacity: 0;
    visibility: hidden;
    transition: opacity 200ms ease-out, top 200ms ease-out, visibility 200ms ease-out;
    -webkit-transition: opacity 200ms ease-out, top 200ms ease-out, visibility 200ms ease-out;
    -moz-transition: opacity 200ms ease-out, top 200ms ease-out, visibility 200ms ease-out;
    -ms-transition: opacity 200ms ease-out, top 200ms ease-out, visibility 200ms ease-out;
    -o-transition: opacity 200ms ease-out, top 200ms ease-out, visibility 200ms ease-out;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    z-index: -100;
    background: #fff;
    border: 1px solid #ddd;
    box-shadow: 2px 3px 3px rgba(0, 0, 0, .11);
    border-radius: 3px;
    overflow: hidden
}

.SumoSelect>.optWrapper.open {
    top: 27px;
    visibility: visible;
    opacity: 1;
    z-index: 1000
}

.SumoSelect>.optWrapper>.options {
    list-style: none;
    display: block;
    padding: 0;
    margin: 0;
    overflow: auto;
    border-radius: 2px;
    max-height: 190px
}

.SumoSelect>.optWrapper.isFloating>.options {
    max-height: 100%;
    box-shadow: 0 0 100px #595959
}

.SumoSelect>.optWrapper>.options>li {
    padding: 5px;
    border-bottom: 1px solid #F3F3F3;
    position: relative;
	text-align: left;
}

.SumoSelect>.optWrapper>.options>li:first-child {
    border-radius: 2px 2px 0 0
}

.SumoSelect>.optWrapper>.options>li:last-child {
    border-bottom: none;
    border-radius: 0 0 2px 2px
}

.SumoSelect>.optWrapper>.options>li:hover {
    background-color: #E4E4E4
}

.SumoSelect>.optWrapper>.options>li.sel {
    background-color: #a1c0e4
}

.SumoSelect>.optWrapper>.options>li label {
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
    display: block;
    cursor: pointer;
    font-size: 14px;
    height: 21px;
    line-height: 21px
}

.SumoSelect>.optWrapper>.options>li span {
    display: none
}

.SumoSelect>.optWrapper.isFloating {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    width: 90%;
    bottom: 0;
    margin: auto;
    max-height: 90%
}

.SumoSelect>.optWrapper>.options>li.disabled {
    background-color: inherit;
    pointer-events: none
}

.SumoSelect>.optWrapper>.options>li.disabled * {
    -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=50)";
    filter: alpha(opacity=50);
    -moz-opacity: .5;
    -khtml-opacity: .5;
    opacity: .5
}

.SumoSelect>.optWrapper.multiple>.options>li {
    padding-left: 35px;
    cursor: pointer
}

.SumoSelect>.optWrapper.multiple>.options>li span,
.SumoSelect .select-all>span {
    position: absolute;
    display: block;
    width: 30px;
    top: 0;
    bottom: 0;
    margin-left: -35px
}

.SumoSelect>.optWrapper.multiple>.options>li span i,
.SumoSelect .select-all>span i {
    position: absolute;
    margin: auto;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    width: 12px;
    height: 12px;
    border: 1px solid #AEAEAE;
    border-radius: 2px;
    box-shadow: inset 0 1px 3px rgba(0, 0, 0, .15);
    background-color: #fff
}

.SumoSelect>.optWrapper>.MultiControls {
    display: none;
    border-top: 1px solid #ddd;
    background-color: #fff;
    box-shadow: 0 0 2px rgba(0, 0, 0, .13);
    border-radius: 0 0 3px 3px
}

.SumoSelect>.optWrapper.multiple.isFloating>.MultiControls {
    display: block;
    margin-top: 5px;
    position: absolute;
    bottom: 0;
    width: 100%
}

.SumoSelect>.optWrapper.multiple.okCancelInMulti>.MultiControls {
    display: block
}

.SumoSelect>.optWrapper.multiple.okCancelInMulti>.MultiControls>p {
    padding: 6px
}

.SumoSelect>.optWrapper.multiple>.MultiControls>p {
    display: inline-block;
    cursor: pointer;
    padding: 12px;
    width: 50%;
    box-sizing: border-box;
    text-align: center
}

.SumoSelect>.optWrapper.multiple>.MultiControls>p:hover {
    background-color: #f1f1f1
}

.SumoSelect>.optWrapper.multiple>.MultiControls>p.btnOk {
    border-right: 1px solid #DBDBDB;
    border-radius: 0 0 0 3px
}

.SumoSelect>.optWrapper.multiple>.MultiControls>p.btnCancel {
    border-radius: 0 0 3px 0
}

.SumoSelect>.optWrapper.isFloating>.options>li {
    padding: 12px 6px
}

.SumoSelect>.optWrapper.multiple.isFloating>.options>li {
    padding-left: 35px
}

.SumoSelect>.optWrapper.multiple.isFloating {
    padding-bottom: 43px
}

.SumoSelect>.optWrapper.multiple>.options>li.selected span i,
.SumoSelect .select-all.selected>span i,
.SumoSelect .select-all.partial>span i {
    box-shadow: none;
    border-color: transparent;
background-image: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAA4AAAAOCAMAAAAolt3jAAAAS1BMVEUAdGsAdGsAdGsAdGsAdGsAdGsAdGsAdGsAdGsAdGsmgHhCi4RYlpBroJt9qqWNtK+cvbmqxsO4z8zF19XR397d6Obp8O/09/f///9MKp0ZAAAACXRSTlMPnZ+go6Sl7/UmyP9EAAAAWElEQVR42k3PSRKAIAxE0XZCGkUcIfc/qSWhyvzdW6UDjJ4tPwE9TT28pYfBkmgYi2WSRKXqYGXMK7nLTWV4SjqlBOVnEdmoVF9UzvViDm1GR9MAuP8FhxchbgfX6BMp4QAAAABJRU5ErkJggg==);
    background-repeat: no-repeat;
    background-position: center center
}

.SumoSelect.disabled {
    opacity: .7;
    cursor: not-allowed
}

.SumoSelect.disabled>.CaptionCont {
    border-color: #ccc;
    box-shadow: none
}

.SumoSelect .select-all {
    border-radius: 3px 3px 0 0;
    position: relative;
    border-bottom: 1px solid #ddd;
    background-color: #fff;
    padding: 8px 0 3px 35px;
    height: 20px
}

.SumoSelect .select-all>span i {
    cursor: pointer
}

.SumoSelect .select-all.partial>span i {
    background-color: #ccc
}

.SumoSelect>.optWrapper>.options>li.optGroup {
    padding-left: 5px;
    text-decoration: underline
}
